﻿<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        @User.Identity.Name
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">7th Street App</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            @*<input type="text" placeholder="Search something special" class="form-control" name="search">*@
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="" href="#">Link 1</a>
                </li>
                <li>
                    <a class="" href="#">Link 1</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li><span class="font-extra-bold font-uppercase"></span></li>
            <li><h5 style="margin-top: 20px;"><a href="@Url.Action("Logout", "Main")">Logout</a></h5></li>
            <li>
                <a href="#">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
