﻿<div id="navigation">
    <ul class="nav metismenu" id="side-menu">
        @switch (int.Parse(Session["UserType"].ToString()))
        {
            case 1:
                <li class="@Html.IsSelected(action: "AdminUser")">
                    <a href="@Url.Action("AdminUser", "Main")"><span class="nav-label">จัดการ User</span></a>
                </li>
                <li class="@Html.IsSelected(action: "AdminUserOrder")">
                    <a href="@Url.Action("AdminUserOrder", "Main")"><span class="nav-label">สถานะ User</span></a>
                </li>
                <li class="@Html.IsSelected(action: "AdminOrderProduct")">
                    <a href="@Url.Action("AdminOrderProduct", "Main")"><span class="nav-label">สั่งของแทน User</span></a>
                </li>
                <li class="@Html.IsSelected(action: "AdminProduct")">
                    <a href="@Url.Action("AdminProduct", "Main")"> <span class="nav-label">สินค้าคงคลัง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminAddProduct")">
                    <a href="@Url.Action("AdminAddProduct", "Main")"> <span class="nav-label">รับสินค้า</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminTransferProduct")">
                    <a href="@Url.Action("AdminTransferProduct", "Main")"> <span class="nav-label">โอนถ่ายสินค้า</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminOrder")">
                    <a href="@Url.Action("AdminOrder", "Main")"> <span class="nav-label">จัดการออเดอร์</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminSaleSummary")">
                    <a href="@Url.Action("AdminSaleSummary", "Main")"> <span class="nav-label">รวมยอดขาย</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminSupplier")">
                    <a href = "@Url.Action("AdminSupplier", "Main")"> <span class="nav-label">จัดการ Supplier</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminBranch")">
                    <a href = "@Url.Action("AdminBranch", "Main")"> <span class="nav-label">จัดการสาขา</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminCategory")">
                    <a href = "@Url.Action("AdminCategory", "Main")"> <span class="nav-label">จัดการหมวดหมู่</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "MinimumStockSetting")">
                    <a href="@Url.Action("MinimumStockSetting", "Main")"> <span class="nav-label">Minimum Stock</span> </a>
                </li>
                break;
            case 2:
                <li class="@Html.IsSelected(action: "OrderStatus")">
                    <a href="@Url.Action("OrderStatus", "Main")"> <span class="nav-label">สถานะจัดส่ง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "OrderProduct")">
                    <a href="@Url.Action("OrderProduct", "Main")"> <span class="nav-label">สั่งของ</span> </a>
                </li>
                break;
            case 3:
                <li class="@Html.IsSelected(action: "OrderStatus")">
                    <a href="@Url.Action("OrderStatus", "Main")"> <span class="nav-label">สถานะจัดส่ง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "OrderProduct")">
                    <a href="@Url.Action("OrderProduct", "Main")"> <span class="nav-label">สั่งของ</span> </a>
                </li>
                break;
            case 4:
                <li class="@Html.IsSelected(action: "OrderStatus")">
                    <a href="@Url.Action("OrderStatus", "Main")"> <span class="nav-label">สถานะจัดส่ง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "OrderProduct")">
                    <a href="@Url.Action("OrderProduct", "Main")"> <span class="nav-label">สั่งของ</span> </a>
                </li>
                break;
            case 5:
                <li class="@Html.IsSelected(action: "OrderStatus")">
                    <a href="@Url.Action("OrderStatus", "Main")"> <span class="nav-label">สถานะจัดส่ง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "OrderProduct")">
                    <a href="@Url.Action("OrderProduct", "Main")"> <span class="nav-label">สั่งของ</span> </a>
                </li>
                break;
            case 6:
                <li class="@Html.IsSelected(action: "OrderStatus")">
                    <a href="@Url.Action("OrderStatus", "Main")"> <span class="nav-label">สถานะจัดส่ง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "OrderProduct")">
                    <a href="@Url.Action("OrderProduct", "Main")"> <span class="nav-label">สั่งของ</span> </a>
                </li>
                break;
            case 9:
                <li class="@Html.IsSelected(action: "AdminUserOrder")">
                    <a href="@Url.Action("AdminUserOrder", "Main")">สถานะ User</a>
                </li>
                <li class="@Html.IsSelected(action: "AdminOrderProduct")">
                    <a href="@Url.Action("AdminOrderProduct", "Main")">สั่งของแทน User</a>
                </li>
                <li class="@Html.IsSelected(action: "AdminOrder")">
                    <a href="@Url.Action("AdminOrder", "Main")"> <span class="nav-label">จัดการออเดอร์</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminProduct")">
                    <a href="@Url.Action("AdminProduct", "Main")"> <span class="nav-label">สินค้าคงคลัง</span> </a>
                </li>
                <li class="@Html.IsSelected(action: "AdminTransferProduct")">
                    <a href="@Url.Action("AdminTransferProduct", "Main")"> <span class="nav-label">โอนถ่ายสินค้า</span> </a>
                </li>
                break;
        }
    </ul>
</div>