﻿@model List<MySeventhStreet.Models.Branch>
    @{
        ViewBag.Title = "AdminBranch";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel panel-collapse">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    เพิ่มสาขาใหม่
                </div>
                <div class="panel-body" style="display: none;">
                    <form id="form1" action="@Url.Action("CreateBranch", "Main")" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">ชื่อสาขา</label>

                            <div class="col-xs-10"><input type="text" name="branchName" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button class="btn btn-primary" type="submit">เพิ่มสาขา</button>
                                <button class="btn btn-default showhide" type="button">ยกเลิก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        จัดการสาขา
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example2" class="display table table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th>รหัสสาขา</th>
                                    <th>ชื่อสาขา</th>
                                    <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td id="td_branchid_@item.BranchID">@Html.DisplayFor(modelItem => item.BranchID)</td>
                                        <td id="td_name_@item.BranchID">@Html.DisplayFor(modelItem => item.Name)</td>
                                        @if (item.BranchID != 1)
                                        {
                                            <td><button id="deletebutton_@item.BranchID" class="btn btn-danger deleteButton" type="button"><i class="fa fa-trash-o"></i> <span class="bold">ลบ</span></button></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('.deleteButton').click(function () {
            var branchid = $(this).attr("id");
            swal({
                title: "คำเตือน",
                text: "คุณแน่ใจหรือว่าต้องการลบสาขานี้?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK"
            },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.post('@Url.Action("DeleteBranchRow","Main")', { id: branchid }, function (data) {
                                window.location.href = data;
                            });
                        }
                    });
        });
    });
</script>




