﻿@model List<MySeventhStreet.Models._SaleSummary>
@{
    ViewBag.Title = "Admin Sale Summary Report";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        สรุปรายการยอดขาย
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>สาขา</th>
                                            <th>ชื่อสินค้า</th>                                            
                                            @{
                                                foreach (var item in Model)
                                                {
                                                    foreach (var month in item.MonthReports)
                                                    {
                                                        <th>[@month.MonthName] SUM of จำนวน</th>
                                                        <th>[@month.MonthName] SUM of กำไร/ขาดทุน</th>
                                                    }
                                                    break;
                                                }
                                            }
                                            <th>Grand Total SUM of จำนวน</th>
                                            <th>Grand Total SUM of กำไร/ขาดทุน</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="col-xs-1" id="td_branchname_@item.BranchName@item.Category">@Html.DisplayFor(modelItem => item.BranchName)</td>
                                                    <td class="col-xs-1" id="td_category_@item.BranchName@item.Category">@Html.DisplayFor(modelItem => item.Category)</td>
                                                    @foreach (var month in item.MonthReports)
                                                    {
                                                        <td class="col-xs-1" id="td_quantity_@month.MonthName@item.BranchName@item.Category">@Html.DisplayFor(modelItem => month.Quantity)</td>
                                                        <td class="col-xs-1" id="td_price_@month.MonthName@item.BranchName@item.Category">@Html.DisplayFor(modelItem => month.Price)</td>
                                                    }
                                                    <td class="col-xs-1" id="td_quantity_total_@item.BranchName@item.Category">@Html.DisplayFor(modelItem => item.GrandTotal.Quantity)</td>
                                                    <td class="col-xs-1" id="td_price_total_@item.BranchName@item.Category">@Html.DisplayFor(modelItem => item.GrandTotal.Price)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        function isInt(value) {
            return !isNaN(value) &&
                   parseInt(Number(value)) == value &&
                   !isNaN(parseInt(value, 10));
        }

        $(function () {
            $('#datepicker').datepicker();
            $("#datepicker").on("changeDate", function (event) {
                $("#my_hidden_input").val(
                        $("#datepicker").datepicker('getFormattedDate')
                )
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<input class="column_filter" type="text" placeholder="ค้นตาม' + title + '" />');
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                }
            });

            table.columns().every(function () {
                var that = this;

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

        });

</script>
