﻿@model List<MySeventhStreet.Models._OrderStatus>
    @{
        ViewBag.Title = "Admin Order";
    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            รายการสถานะจัดส่ง
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <p>ช่วงเวลาของรายการที่แสดง</p>
                                <form id="form1" action="@Url.Action("AdminOrderApplyDateRange", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                                    <div class="col-lg-6">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="input-sm form-control" name="start" />
                                            <span class="input-group-addon">จนถึง</span>
                                            <input type="text" class="input-sm form-control" name="end" />
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <div class="col-xs-8 col-xs-offset-2">
                                                <button class="btn btn-primary" type="submit">แสดงผลตามวันที่เลือก</button>
                                            </div>
                                            </br>
                                            </br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="example2" class="display table table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <td>หมายเลขคำสั่งซื้อ</td>
                                                <td>ผู้สั่งซื้อ</td>
                                                <td>ชื่อผู้ใช้</td>
                                                <td>ชื่อร้าน</td>
                                                <td>ชื่อผู้รับ</td>
                                                <td>ที่อยู่จัดส่ง</td>
                                                <td></td>
                                                <td>หมายเหตุ</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>หมายเลขคำสั่งซื้อ</th>
                                                <th>ผู้สั่งซื้อ</th>
                                                <th>ชื่อผู้ใช้</th>
                                                <th>ชื่อร้าน</th>
                                                <th>ชื่อผู้รับ</th>
                                                <th>ที่อยู่จัดส่ง</th>
                                                <th>สถานะจัดส่ง</th>
                                                <th>หมายเหตุ</th>
                                                <th>วันสั่งของ</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="col-xs-1" id="td_orderId_@item.OrderNumber">@Html.ActionLink(item.OrderNumber, "OrderDetail", new { orderNumber = item.OrderNumber })</td>
                                                        <td class="col-xs-1" id="td_orderuserId_@item.OrderUserID">@Html.Action("GetUserName", "Main", new { id = item.OrderUserID })</td>
                                                        <td class="col-xs-1" id="td_username_@item.OrderNumber">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                        <td class="col-xs-1" id="td_shopname_@item.OrderNumber">@Html.DisplayFor(modelItem => item.ShopName)</td>
                                                        <td class="col-xs-2" id="td_deliveryname_@item.OrderNumber">@Html.DisplayFor(modelItem => item.DeliveryName)</td>
                                                        <td class="col-xs-4" id="td_deliveryaddress_@item.OrderNumber">@Html.DisplayFor(modelItem => item.DeliveryAddress)</td>
                                                        @switch (item.Status)
                                                        {
                                                            case 1:
                                                                <td class="col-xs-1" id="td_status_@item.OrderNumber">
                                                                    <div class="btn-group">
                                                                        <button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">รอยืนยันสินค้า <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="@Url.Action("AdminOrderUpdateStatus", "Main", new { orderNumber = item.OrderNumber, status = 2 })">รอจัดสินค้า</a></li>
                                                                            <li><a id="toDeliverButton_@item.OrderNumber" href="#" class="toDeliverButton">จัดสินค้าแล้วรอส่ง</a></li>
                                                                            <li><a href="@Url.Action("AdminOrderUpdateStatus", "Main", new { orderNumber = item.OrderNumber, status = 4 })">ส่งสินค้าแล้ว</a></li>
                                                                            <li class="divider"></li>
                                                                            <li><a id="cancelButton_@item.OrderNumber" class="cancelButton" href="#">ยกเลิก</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                break;
                                                            case 2:
                                                                <td class="col-xs-1" id="td_status_@item.OrderNumber">
                                                                    <div class="btn-group">
                                                                        <button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">รอจัดสินค้า <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a id="toDeliverButton_@item.OrderNumber" href="#" class="toDeliverButton">จัดสินค้าแล้วรอส่ง</a></li>
                                                                            <li><a href="@Url.Action("AdminOrderUpdateStatus", "Main", new { orderNumber = item.OrderNumber, status = 4 })">ส่งสินค้าแล้ว</a></li>
                                                                            <li class="divider"></li>
                                                                            <li><a id="cancelButton_@item.OrderNumber" class="cancelButton" href="#">ยกเลิก</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                break;
                                                            case 3:
                                                                <td class="col-xs-1" id="td_status_@item.OrderNumber">
                                                                    <div class="btn-group">
                                                                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">จัดสินค้าแล้วรอส่ง <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="@Url.Action("AdminOrderUpdateStatus", "Main", new { orderNumber = item.OrderNumber, status = 4 })">ส่งสินค้าแล้ว</a></li>
                                                                            <li class="divider"></li>
                                                                            <li><a id="cancelButton_@item.OrderNumber" class="cancelButton" href="#">ยกเลิก</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                break;
                                                            case 4:
                                                                <td class="col-xs-1" id="td_status_@item.OrderNumber">
                                                                    <div class="progress m-t-xs full progress-striped active">
                                                                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-success">
                                                                            ส่งสินค้าแล้ว
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                break;
                                                            case 0:
                                                                <td class="col-xs-1" id="td_status_@item.OrderNumber">
                                                                    <div class="progress m-t-xs full progress-striped active">
                                                                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-danger">
                                                                            ยกเลิกแล้ว
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                break;
                                                        }
                                                        <td class="col-xs-2" id="td_description_@item.OrderNumber">@Html.DisplayFor(modelItem => item.Remark)</td>
                                                        <td class="col-xs-1" id="td_orderdate_@item.OrderNumber">@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                                        <td class="col-xs-1" id="td_editrow_@item.OrderNumber"><button id="editbutton_@item.OrderNumber" class="btn btn-info editButton" type="button" onclick="location.href='@Url.Action("AdminEditOrder", "Main", new { orderNumber = item.OrderNumber })'"><i class="fa fa-paste"></i> <span class="bold">แก้ไข</span></button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function isInt(value) {
            return !isNaN(value) &&
                   parseInt(Number(value)) == value &&
                   !isNaN(parseInt(value, 10));
        }

        $(function () {
            $('#datepicker').datepicker();
            $("#datepicker").on("changeDate", function (event) {
                $("#my_hidden_input").val(
                        $("#datepicker").datepicker('getFormattedDate')
                )
            });

            $('.toDeliverButton').click(function () {
                var ordernumber = $(this).attr("id");

                swal({
                    title: "ยืนยันพร้อมจัดส่ง",
                    text: "กรุณาใส่ค่าจัดส่ง",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "ค่าจัดส่ง"
                }, function (inputValue) {
                    if (inputValue === false || !isInt(inputValue) || inputValue === "") {
                        swal.showInputError("กรุณาใส่ค่าจัดส่งเป็นตัวเลข");
                        return false;
                    }

                    $.get('@Url.Action("AdminOrderUpdateStatus", "Main")', { orderNumber: ordernumber, status: 3, remark: inputValue }, function (data) {
                        window.location.reload(true);
                    });
                });
            });

            $('.cancelButton').click(function () {
                var ordernumber = $(this).attr("id");

                swal({
                    title: "คุณต้องการลบออเดอร์นี้หรือไม่?",
                    text: "กรุณาใส่เหตุผลที่ลบออเดอร์นี้ด้านล่าง",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "สาเหตุที่ลบ"
                }, function (inputValue) {
                    if (inputValue === false) {
                        return false;
                    }

                    if (inputValue === "") {
                        swal.showInputError("จำเป็นต้องมีเหตุผลในการลบ");
                        return false;
                    }

                    $.get('@Url.Action("AdminOrderUpdateStatus", "Main")', { orderNumber: ordernumber, status: 0, remark: inputValue }, function (data) {
                        window.location.reload(true);
                    });
                });
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<input class="column_filter" type="text" placeholder="ค้นตาม' + title + '" />');
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                }
            });

            table.columns().every(function () {
                var that = this;

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

        });

    </script>
