﻿@using MySeventhStreet.Models
@model List<MySeventhStreet.Models.Product>

    @{
        ViewBag.Title = "AdminOrderProduct";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <form id="form1" class="form-horizontal choose-user" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">สั่งของให้ User</label>

                        <div class="col-xs-5">@Html.DropDownList("User", new SelectList(ViewBag.userList, "userID", "Name"), new { @class = "form-control js-source-user", @onchange = "showOrderForm(this.value);" })</div>
                    </div>
                </form>

                <div class="hpanel product-order-form" style="display:none;">
                    <div class="col-lg-12" id="result-message-panel" style="display:none;">
                        <div class="hpanel">
                            <div class="panel-heading">
                                <div class="panel-tools">

                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="message-panel-success" style="display:none;">
                                    <span class="message-content-success text-success"><strong>รับสินค้าเรียบร้อยแล้ว</strong></span>
                                    <br />
                                    <br />
                                    <button type="button" class="btn w-xs btn-primary" onclick="refreshPage();">กลับสู่หน้ารับสินค้า</button>
                                </div>
                                <div class="message-panel-fail" style="display:none;">
                                    <span class="message-content-fail text-danger"><strong>เกิดความผิดพลาด กรูณาลองใหม่อีกครั้ง</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal" onsubmit="return scanAddProduct(event);">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">กดที่กล่องก่อน Scan สินค้า:</label>

                            <div class="col-xs-3"><input type="text" id="scannedBarcodeText" name="Name" class="form-control product-add-form"></div>
                            <span id="messageAddScanProduct" class="message-content text-info"><strong></strong></span>
                        </div>
                    </form>
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            สั่งของแทน <span id="impersonate-user-name"></span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hidden"></th>
                                            <th class="hidden"></th>
                                            <th>รูปภาพ</th>
                                            <th>รหัสสินค้า</th>
                                            <th>หมวดหมู่</th>
                                            <th>ชื่อสินค้า</th>
                                            @if (Session["impersonateUserType"] == null || Session["impersonateUserType"].ToString() == "2")
                                            {
                                                <th>ราคาต่อหน่วย</th>
                                            }
                                            else
                                            {
                                                <th>ราคาต่อหน่วย</th>
                                            }
                                            <th>XS</th>
                                            <th>S</th>
                                            <th>M</th>
                                            <th>L</th>
                                            <th>XL</th>
                                            <th>XXL</th>
                                            <th><button id="pickupbutton_top" class="btn btn-success pickupbutton" type="button"><i class="fa fa-upload"></i> <span class="bold">ใส่ตะกร้า</span></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="hidden">@Html.Action("GetProductAndCategorySortID", "Main", new { pid = item.ProductID })</td>
                                                <td class="hidden">@item.ProductID</td>
                                                <td class="col-xs-1" id="td_image_@item.ProductID"><img src="~/Main/DisplayImage?productId=@item.ProductID" height="100" /></td>
                                                <td class="col-xs-1" id="td_name_@item.ProductID">@Html.DisplayFor(modelItem => item.Barcode)</td>
                                                <td class="col-xs-1" id="td_category_@item.ProductID">@Html.Action("GetCategoryName", "Main", new { id = item.CategoryID })</td>
                                                <td class="col-xs-1" id="td_description_@item.ProductID">@Html.DisplayFor(modelItem => item.Name)</td>

                                                @if (Session["impersonateUserType"] == null || Session["impersonateUserType"].ToString() == "2")
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price)</td>
                                                }
                                                else if (int.Parse(Session["impersonateUserType"].ToString()) == 3 || Session["impersonateUserType"].ToString() == "4")
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price3)</td>
                                                }
                                                else if (int.Parse(Session["impersonateUserType"].ToString()) == 5)
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price4)</td>
                                                }
                                                else if (int.Parse(Session["impersonateUserType"].ToString()) == 6)
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.PriceVIP)</td>
                                                }
                                                <td class="editable_cell" id="td_amountxs_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amounts_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountm_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountl_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountxl_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountf_@item.ProductID">0</td>
                                                <td class="col-xs-1"><div class="text-danger" id="error_text_@item.ProductID"></div></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button id="pickupbutton_bottom" class="btn btn-success pickupbutton" type="button"><i class="fa fa-upload"></i> <span class="bold">ใส่ตะกร้า</span></button></td></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Session["ShoppingCart"] != null)
                    {
                        var shopItems = Session["ShoppingCart"] as List<MySeventhStreet.Models.Product>;
                        if (shopItems != null && shopItems.Count > 0)
                        {
                            <div class="hpanel col-lg-8 shopping-cart-panel">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    ตะกร้าสินค้า
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="example2" class="display table table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>ชื่อสินค้า</th>
                                                    <th>XS</th>
                                                    <th>S</th>
                                                    <th>M</th>
                                                    <th>L</th>
                                                    <th>XL</th>
                                                    <th>XXL</th>
                                                    <th>จำนวนรวม</th>
                                                    <th>ราคาต่อหน่วย</th>
                                                    <th>ราคารวม</th>
                                                    <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var totalPrice = 0;
                                                    foreach (var item in shopItems)
                                                    {
                                                        var totalAmount = item.AmountXS + item.AmountS + item.AmountM + item.AmountL + item.AmountXL + item.AmountF;
                                                        var eachPrice = item.Price / totalAmount;
                                                        totalPrice += item.Price.Value;
                                                        <tr>
                                                            <td id="sc_name_@item.ProductID">@item.Name</td>
                                                            <td class="col-xs-1" id="sc_amountxs_@item.ProductID">@item.AmountXS</td>
                                                            <td class="col-xs-1" id="sc_amounts_@item.ProductID">@item.AmountS</td>
                                                            <td class="col-xs-1" id="sc_amountm_@item.ProductID">@item.AmountM</td>
                                                            <td class="col-xs-1" id="sc_amountl_@item.ProductID">@item.AmountL</td>
                                                            <td class="col-xs-1" id="sc_amountxl_@item.ProductID">@item.AmountXL</td>
                                                            <td class="col-xs-1" id="sc_amountf_@item.ProductID">@item.AmountF</td>
                                                            <td class="col-xs-1" id="sc_totalamount_@item.ProductID">@totalAmount</td>
                                                            <td class="col-xs-1" id="sc_eachprice_@item.ProductID">@eachPrice</td>
                                                            <td class="col-xs-1" id="sc_price_@item.ProductID">@item.Price</td>
                                                            <td class="col-xs-1"><button id="deletecartbutton_@item.ProductID" class="btn btn-danger deletebutton" type="button"><i class="fa fa-trash-o"></i> <span class="bold">ลบ</span></button></td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td class="col-xs-1">ราคารวมทั้งหมด</td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1">@totalPrice</td>
                                                    <td class="col-xs-1"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        @{
                                            var firstItem = shopItems.FirstOrDefault();
                                            if (firstItem != null)
                                            {
                                                <input type="hidden" id="hiddenCategoryID" value="@firstItem.CategoryID" />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="hpanel col-lg-4 shopping-cart-panel">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    ที่อยู่จัดส่ง
                                </div>
                                <div class="panel-body">
                                    <form id="order-form" method="post" action="@Url.Action("SubmitImpersonatedShoppingCart","Main")">
                                        <div class="form-group">
                                            <label class="col-lg-12 control-label">ชื่อผู้รับ</label>
                                            @if (Session["impersonateUserType"] != null && int.Parse(Session["impersonateUserType"].ToString()) == 3)
                                            {
                                                <div class="col-lg-12 delivery-form-name">
                                                    <input id="deliveryName" type="text" name="DeliveryName" class="form-control required" value="@Session["ShopName"].ToString()" readonly="readonly">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-12 delivery-form-name">
                                                    <input id="deliveryName" type="text" name="DeliveryName" class="form-control required">
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-12 control-label">เบอร์โทรศัพท์</label>
                                            @if (Session["impersonateUserType"] != null && int.Parse(Session["impersonateUserType"].ToString()) == 3)
                                            {
                                                <div class="col-lg-12 delivery-form-phone">
                                                    <input id="phone" type="text" name="Phone" class="form-control required" value="@Session["Phone"].ToString()" readonly="readonly">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-12 delivery-form-phone">
                                                    <input id="phone" type="text" name="Phone" class="form-control required">
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-12 control-label">ที่อยู่</label>
                                            @if (Session["impersonateUserType"] != null && int.Parse(Session["impersonateUserType"].ToString()) == 3)
                                            {
                                                <div class="col-lg-12 "><textarea id="deliveryAddress" name="DeliveryAddress" class="form-control required delivery-form-address" rows="5" style="resize:none; margin-bottom:20px;" readonly="readonly">@Session["Address"].ToString()</textarea></div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-12 "><textarea id="deliveryAddress" name="DeliveryAddress" class="form-control required delivery-form-address" rows="5" style="resize:none; margin-bottom:20px;"></textarea></div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-8 col-xs-offset-2">
                                                @if (Session["ShoppingCart"] != null)
                                                {
                                                    <button type="submit" class="btn w-xs btn-primary submitorderbutton">สั่งของ</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn w-xs btn-primary submitorderbutton" disabled="disabled">สั่งของ</button>
                                                }

                                                <button type="button" class="btn w-xs btn-default clearcartbutton">เคลียร์ตะกร้า</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                                                }
                                            }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var tempBarcode = "";
        var tempQuantity = 0;

        $(function () {
            @if (@Session["ShoppingCart"] != null)
            {
                <text>
            $(".choose-user").hide();
            $(".product-order-form").show();
            </text>
            }

            $(".js-source-user").select();

            var table = $('#example2').DataTable({
                "columnDefs": [
                    {
                        "targets": 1,
                        "orderable": false
                    },
                    {
                        "targets": 2,
                        "orderable": false
                    },
                    {
                        "targets": 6,
                        "orderable": false
                    },
                    {
                        "targets": 7,
                        "orderable": false
                    },
                    {
                        "targets": 8,
                        "orderable": false
                    },
                    {
                        "targets": 9,
                        "orderable": false
                    },
                    {
                        "targets": 10,
                        "orderable": false
                    },
                    {
                        "targets": 11,
                        "orderable": false
                    },
                    {
                        "targets": 12,
                        "orderable": false
                    },
                    {
                        "targets": 13,
                        "orderable": false
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminOrderProductDummy", "Main")', {
                        "height": "30px",
                        "margin": "-15px",
                        "width": "50px",
                        "className": "form-control",
                        "select": true
                    });
                }
            });

            $("#order-form").validate(
                {
                    rules: {
                        DeliveryName: {
                            required: true,
                            minlength: 3
                        },
                        Phone: {
                            required: true,
                            number: true,
                            minlength: 8
                        },
                        DeliveryAddress: {
                            required: true,
                            minlength: 3
                        }
                    },
                    submitHandler: function (form) {
                        if ($("#order-form").valid()) {
                            $(this).attr("disabled", true);
                        }
                        form.submit();
                    }
                });

            $('.pickupbutton').click(function () {
                var that = $(this);
                that.prop("disabled", true);
                var isEmptyList = true;
                var redirectTo;

                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var productid = this.data()[1];

                    if ($("#td_amountxs_" + productid)[0] != undefined)
                    {
                        var amountXS = parseInt($("#td_amountxs_" + productid)[0].innerText, 10) || 0;
                        var amountS = parseInt($("#td_amounts_" + productid)[0].innerText, 10) || 0;
                        var amountM = parseInt($("#td_amountm_" + productid)[0].innerText, 10) || 0;
                        var amountL = parseInt($("#td_amountl_" + productid)[0].innerText, 10) || 0;
                        var amountXL = parseInt($("#td_amountxl_" + productid)[0].innerText, 10) || 0;
                        var amountF = parseInt($("#td_amountf_" + productid)[0].innerText, 10) || 0;
                        //var remainingXS = parseInt($("#remaining_xs_" + productid)[0].innerText, 10) || 0;
                        //var remainingS = parseInt($("#remaining_s_" + productid)[0].innerText, 10) || 0;
                        //var remainingM = parseInt($("#remaining_m_" + productid)[0].innerText, 10) || 0;
                        //var remainingL = parseInt($("#remaining_l_" + productid)[0].innerText, 10) || 0;
                        //var remainingXL = parseInt($("#remaining_xl_" + productid)[0].innerText, 10) || 0;
                        //var remainingXXL = parseInt($("#remaining_xxl_" + productid)[0].innerText, 10) || 0;

                        if (!isNaN(amountXS + amountS + amountM + amountL + amountXL + amountF) && (amountXS + amountS + amountM + amountL + amountXL + amountF) > 0) {
                            //if (amountXS > remainingXS || amountS > remainingS || amountM > remainingM || amountL > remainingL || amountXL > remainingXL || amountF > remainingXXL) {
                                $.ajax({
                                    url: '@Url.Action("AdminAddShoppingCart", "Main")',
                                    method: 'post',
                                    data: { id: productid, AmountXS: amountXS, AmountS: amountS, AmountM: amountM, AmountL: amountL, AmountXL: amountXL, AmountF: amountF, Branch: 1 },
                                    success: function (data) {
                                        isEmptyList = false;
                                        redirectTo = data;
                                    },
                                    async: false
                                });
                            //}
                        }
                        else
                        {
                            //$("#error_text_" + productid)[0].innerText = "จำนวนที่สั่งไม่ถูกต้อง";

                        }
                    }

                    that.prop("disabled", false);
                    return false;
                });

                if (!isEmptyList) {
                    window.location.href = redirectTo;
                }

                @*var tokenid = productid.split("_");

                var amountS = parseInt($("#amounts_" + tokenid[1])[0].value, 10) || 0;
                var amountM = parseInt($("#amountm_" + tokenid[1])[0].value, 10) || 0;
                var amountL = parseInt($("#amountl_" + tokenid[1])[0].value, 10) || 0;
                var amountXL = parseInt($("#amountxl_" + tokenid[1])[0].value, 10) || 0;
                var amountF = parseInt($("#amountf_" + tokenid[1])[0].value, 10) || 0;
                var remainingS = parseInt($("#remaining_s_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingM = parseInt($("#remaining_m_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingL = parseInt($("#remaining_l_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingXL = parseInt($("#remaining_xl_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingXXL = parseInt($("#remaining_xxl_" + tokenid[1])[0].innerText, 10) || 0;

                if (isNaN(amountS + amountM + amountL + amountXL + amountF) || (amountS + amountM + amountL + amountXL + amountF) < 1) {
                    $("#error_text_" + tokenid[1])[0].innerText = "จำนวนที่สั่งไม่ถูกต้อง";
                    $(this).attr("disabled", false);
                    return false;
                }
                else if (amountS > remainingS || amountM > remainingM || amountL > remainingL || amountXL > remainingXL || amountF > remainingXXL) {
                    $("#error_text_" + tokenid[1])[0].innerText = "จำนวนเกินสต็อค";
                    $(this).attr("disabled", false);
                    return false;
                } else {
                    $("#error_text_" + tokenid[1])[0].innerText = "";
                }

                $.post('@Url.Action("AddShoppingCart","Main")', { id: productid, AmountS: amountS, AmountM: amountM, AmountL: amountL, AmountXL: amountXL, AmountF: amountF, Branch: 1 }, function (data) {
                    window.location.href = data;
                });*@
            });

            $('.deletebutton').click(function () {
                $(this).attr("disabled", true);
                var categoryid = $(this).attr("id");

                $.post('@Url.Action("AdminDeleteShoppingCart", "Main")', { id: categoryid }, function (data) {
                    //otable.fnDraw();
                    window.location.href = data;
                });
            });

            @*$('.submitorderbutton').click(function () {



                if (form.valid()) {
                        var categoryid = $("#hiddenCategoryID").attr("value");
                        var deliveryName = $("#deliveryName")[0].value;
                        var phone = $("#phone")[0].value;
                        var deliveryAddress = $("#deliveryAddress")[0].value;

                        $.post('@Url.Action("SubmitShoppingCart","Main")', { deliveryName: deliveryName, deliveryAddress: deliveryAddress, phone: phone }, function (data) {
                            window.location.href = data;
                        });
                    }

            });*@

            $('.clearcartbutton').click(function () {
                var categoryid = $(this).attr("id");

                $.post('@Url.Action("AdminClearShoppingCart", "Main")', {}, function (data) {
                    window.location.href = data;
                });
            });
        });

        function showOrderForm(val) {
            $.post('@Url.Action("SetImpersonateUser","Main")', { id: val }, function (user) {
                $("#impersonate-user-name").html(user.UserName);
                //if (user.UserType == "3")
                //{
                //    $(".delivery-form-name").val(user.ShopName);
                //    $(".delivery-form-name").attr("readonly", "readonly");
                //    $(".delivery-form-phone").val(user.Phone);
                //    $(".delivery-form-phone").attr("readonly", "readonly");
                //}
            });
            $(".choose-user").hide();
            $(".product-order-form").show();
        }

        function scanAddProduct(event)
        {
            event.preventDefault();
            var barcode = $('#scannedBarcodeText')[0].value;
            $.ajax({
                url: '@Url.Action("AddScannedProduct", "Main")',
                method: 'post',
                data: { code: barcode },
                success: function (data) {
                    if (data.id == "td_amount")
                    {
                        alert("ไม่พบข้อมูลสินค้าที่ตรงกับ Barcode");
                    }
                    else
                    {
                        var newValue = $('#' + data.id)[0].innerText = parseInt($('#' + data.id)[0].innerText) + 1;
                        @*$.post('@Url.Action("AdminAddProductTransaction", "Main")', {
                            id: data.id, value: newValue
                        }, function (result) {
                            $('#' + data.id)[0].innerText = result
                        });*@
                        //$('#' + data.id)[0].innerText = parseInt($('#' + data.id)[0].innerText) + 1;

                        if (tempBarcode == barcode)
                        {
                            tempQuantity = tempQuantity + 1;
                        }
                        else
                        {
                            tempBarcode = barcode;
                            tempQuantity = 1;
                        }
                        $('#messageAddScanProduct')[0].innerText = "เพิ่มสินค้า Barcode:" + tempBarcode + " จำนวนรวม:" + tempQuantity;
                    }
                },
                error: function (){
                    alert("ไม่พบข้อมูลสินค้าที่ตรงกับ Barcode");
                },
                async: true
            });
            $('#scannedBarcodeText')[0].value = "";
            return false;
        }

    </script>

