﻿@model List<MySeventhStreet.Models.Category>
    @{
        ViewBag.Title = "AdminCategory";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel panel-collapse">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                        เพิ่มหมวดหมู่
                    </div>
                    <div class="panel-body" style="display: none;">
                        <form id="form1" action="@Url.Action("CreateCategory", "Main")" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">ชื่อหมวดหมู่</label>

                                <div class="col-xs-10">
                                    <input type="text" name="Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">รายละเอียด</label>

                                <div class="col-xs-10">
                                    <input type="text" name="Description" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">ขนาด</label>

                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="checkbox_XS" value="true" name="SizeXS" checked="">
                                    <label for="checkbox_XS">XS</label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="checkbox_S" value="true" name="SizeS" checked="">
                                    <label for="checkbox_S">S</label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="checkbox_M" value="true" name="SizeM" checked="">
                                    <label for="checkbox_M">M</label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="checkbox_L" value="true" name="SizeL" checked="">
                                    <label for="checkbox_L">L</label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="checkbox_XL" value="true" name="SizeXL" checked="">
                                    <label for="checkbox_XL">XL</label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="checkbox_XXL" value="true" name="SizeXXL" checked="">
                                    <label for="checkbox_XXL">XXL</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">ลำดับ</label>

                                    <div class="col-xs-10">
                                        <input type="text" name="SortID" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-primary" type="submit">เพิ่มหมวดหมู่</button>
                                    <button class="btn btn-default" type="submit">ยกเลิก</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            หมวดหมู่
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ลำดับ</th>
                                            <th>ชื่อหมวดหมู่</th>
                                            <th>รายละเอียด</th>
                                            <th>XS</th>
                                            <th>S</th>
                                            <th>M</th>
                                            <th>L</th>
                                            <th>XL</th>
                                            <th>XXL</th>
                                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="editable_cell" id="td_sortid_@item.CategoryID">@Html.Action("GetCategorySortID", "Main", new { cid = item.CategoryID })</td>
                                                    <td class="editable_cell" id="td_name_@item.CategoryID">@Html.DisplayFor(modelItem => item.Name)</td>
                                                    <td class="editable_cell" id="td_description_@item.CategoryID">@Html.DisplayFor(modelItem => item.Description)</td>
                                                    @*@if (item.XS)
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-check text-success"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-times text-danger"></i></td>
                                                    }
                                                    @if (item.S)
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-check text-success"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-times text-danger"></i></td>
                                                    }
                                                    @if (item.M)
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-check text-success"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-times text-danger"></i></td>
                                                    }
                                                    @if (item.L)
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-check text-success"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-times text-danger"></i></td>
                                                    }
                                                    @if (item.XL)
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-check text-success"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-times text-danger"></i></td>
                                                    }
                                                    @if (item.XXL)
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-check text-success"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-xs-1" style="text-align:center;"><i class="fa fa-times text-danger"></i></td>
                                                    }*@
                                                        <td class="col-xs-1">@Html.CheckBoxFor(modelItem => item.XS, new Dictionary<string, object> { { "id", "checkbox_XS_" + item.CategoryID }, { "onclick", "updateCheckBox(this)" } })</td>
                                                        <td class="col-xs-1">@Html.CheckBoxFor(modelItem => item.S, new Dictionary<string, object> { { "id", "checkbox_S_" + item.CategoryID }, { "onclick", "updateCheckBox(this)" } })</td>
                                                        <td class="col-xs-1">@Html.CheckBoxFor(modelItem => item.M, new Dictionary<string, object> { { "id", "checkbox_M_" + item.CategoryID }, { "onclick", "updateCheckBox(this)" } })</td>
                                                        <td class="col-xs-1">@Html.CheckBoxFor(modelItem => item.L, new Dictionary<string, object> { { "id", "checkbox_L_" + item.CategoryID }, { "onclick", "updateCheckBox(this)" } })</td>
                                                        <td class="col-xs-1">@Html.CheckBoxFor(modelItem => item.XL, new Dictionary<string, object> { { "id", "checkbox_XL_" + item.CategoryID }, { "onclick", "updateCheckBox(this)" } })</td>
                                                        <td class="col-xs-1">@Html.CheckBoxFor(modelItem => item.XXL, new Dictionary<string, object> { { "id", "checkbox_XXL_" + item.CategoryID }, { "onclick", "updateCheckBox(this)" } })</td>
                                                    <td>
                                                        <button id="deletebutton_@item.CategoryID" class="btn btn-danger deleteButton" type="button">
                                                            <i class="fa fa-trash-o"></i> <span class="bold">ลบ</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function updateCheckBox(cb) {
            var categoryId = $(cb).attr("id");
            var checked = $(cb)[0].checked;

            $.post('@Url.Action("UpdateCategorySizeRow", "Main")', { id: categoryId, value: checked }, function (data) {
            });
        }

        $(function () {
            $("#form1").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 3
                    },
                    Description: {
                    },
                    SortID: {
                        required: true,
                        number: true,
                        maxlength: 2
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            var table = $('#example2').dataTable({
                "columnDefs": [
                    {
                        "targets": 4,
                        "orderable": false
                    },
                    {
                        "targets": 5,
                        "orderable": false
                    },
                    {
                        "targets": 6,
                        "orderable": false
                    },
                    {
                        "targets": 7,
                        "orderable": false
                    },
                    {
                        "targets": 8,
                        "orderable": false
                    },
                    {
                        "targets": 3,
                        "orderable": false
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminCategoryTableUpdate", "Main")', {
                        "height": "auto",
                        "margin": "-2px",
                        "width": "80%",
                        "className": "form-control"
                    });
                }
            });

            $('.deleteButton').click(function () {
                var userid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณแน่ใจหรือว่าต้องการลบรายการนี้?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.post('@Url.Action("DeleteCategoryRow", "Main")', { id: userid }, function (data) {
                                window.location.href = data;
                            });
                        }
                    });
            });

            $('.iCheck-helper').click(function () {
                var categoryId = $(this).attr("id");
                var checked = $(this).attr("checked");

                $.post('@Url.Action("UpdateCategorySizeRow", "Main")', { id: categoryId, value: checked }, function (data) {
                });
            });
        });

    </script>
