﻿@model List<MySeventhStreet.Models.Supplier>
    @{
        ViewBag.Title = "AdminSupplier";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel panel-collapse">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        เพิ่ม Supplier ใหม่
                    </div>
                    <div class="panel-body" style="display: none;">
                        <form id="form1" action="@Url.Action("CreateSupplier", "Main")" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">ชื่อ Supplier</label>

                                <div class="col-xs-10">
                                    <input type="text" name="supplierName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Supplier Code</label>

                                <div class="col-xs-10">
                                    <input type="text" name="code" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">โทรศัพท์</label>

                                <div class="col-xs-10">
                                    <input type="text" name="phone" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">หมายเหตุ</label>

                                <div class="col-xs-10">
                                    <input type="text" name="remark" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-primary" type="submit">เพิ่ม Supplier</button>
                                    <button class="btn btn-default showhide" type="button">ยกเลิก</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            รายชื่อ Supplier
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>      
                                            <th>ชื่อ</th>
                                            <th>รหัส</th>
                                            <th>เบอร์โทรศัพท์</th>
                                            <th>หมายเหตุ</th>
                                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td id="td_name_@item.SupplierID">@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td id="td_code_@item.SupplierID">@Html.DisplayFor(modelItem => item.Code)</td>
                                                <td id="td_phone_@item.SupplierID">@Html.DisplayFor(modelItem => item.Phone)</td>
                                                <td id="td_remark_@item.SupplierID">@Html.DisplayFor(modelItem => item.Remark)</td>
                                                <td><button id="deletebutton_@item.SupplierID" class="btn btn-danger deleteButton" type="button"><i class="fa fa-trash-o"></i> <span class="bold">ลบ</span></button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('.deleteButton').click(function () {
                var supplierid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณแน่ใจหรือว่าต้องการลบ Supplier นี้?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("DeleteSupplierRow","Main")', { id: supplierid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });
        });
    </script>

