﻿@model List<MySeventhStreet.Models._ProductView>
@{
    ViewBag.Title = "AdminProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel panel-collapse">
                @if (int.Parse(Session["UserType"].ToString()) == 1)
                {
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        เพิ่มสินค้าชนิดใหม่
                    </div>
                        <div class="panel-body" style="display: none;">
                            <form id="form1" action="@Url.Action("CreateProduct", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">หมวดหมู่</label>

                                    <div class="col-xs-10">@Html.DropDownList("Category", new SelectList(ViewBag.categoryList, "CategoryID", "Name"), new { @class = "form-control m-b", @onchange = "showFormDetail(this.value);" })</div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ชื่อสินค้า</label>

                                    <div class="col-xs-10"><input type="text" name="Name" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">รายละเอียด</label>

                                    <div class="col-xs-10"><input type="text" name="Description" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ภาพ</label>

                                    <div class="col-xs-10"><input type="file" name="Image" class="form-control product-add-form" /></div>
                                </div>
                                <div class="form-group add-product size-xs" style="display:none;">
                                    <label class="col-xs-2 control-label">XS</label>

                                    <div class="col-xs-10"><input type="text" name="AmountXS" class="form-control product-add-size" value="0"></div>
                                </div>
                                <div class="form-group add-product size-s" style="display:none;">
                                    <label class="col-xs-2 control-label">S</label>

                                    <div class="col-xs-10"><input type="text" name="AmountS" class="form-control product-add-size" value="0"></div>
                                </div>
                                <div class="form-group add-product size-m" style="display:none;">
                                    <label class="col-xs-2 control-label">M</label>

                                    <div class="col-xs-10"><input type="text" name="AmountM" class="form-control product-add-size" value="0"></div>
                                </div>
                                <div class="form-group add-product size-l" style="display:none;">
                                    <label class="col-xs-2 control-label">L</label>

                                    <div class="col-xs-10"><input type="text" name="AmountL" class="form-control product-add-size" value="0"></div>
                                </div>
                                <div class="form-group add-product size-xl" style="display:none;">
                                    <label class="col-xs-2 control-label">XL</label>

                                    <div class="col-xs-10"><input type="text" name="AmountXL" class="form-control product-add-size" value="0"></div>
                                </div>
                                <div class="form-group add-product size-xxl" style="display:none;">
                                    <label class="col-xs-2 control-label">XXL</label>

                                    <div class="col-xs-10"><input type="text" name="AmountF" class="form-control product-add-size" value="0"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">รหัสบาร์โค้ด</label>

                                    <div class="col-xs-10"><input type="text" name="Barcode" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ราคา Dropship</label>

                                    <div class="col-xs-10"><input type="text" name="Price" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ราคา Wholesale 0-49</label>

                                    <div class="col-xs-10"><input type="text" name="Price2" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ราคา Wholesale 50+</label>

                                    <div class="col-xs-10"><input type="text" name="Price3" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ราคา Retail</label>

                                    <div class="col-xs-10"><input type="text" name="Price4" class="form-control product-add-form"></div>
                                </div>
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ราคา VIP</label>

                                    <div class="col-xs-10"><input type="text" name="PriceVIP" class="form-control product-add-form"></div>
                                </div>
                                @*<div class="form-group add-product" style="display:none;">
                                        <label class="col-xs-2 control-label">สาขา</label>

                                        <div class="col-xs-10">@Html.DropDownList("Branch", new SelectList(ViewBag.branchList, "BranchID", "Name"), new Dictionary<string, object> { { "class", "form-control m-b" } })</div>
                                    </div>*@
                                <div class="form-group add-product" style="display:none;">
                                    <label class="col-xs-2 control-label">ลำดับ</label>

                                    <div class="col-xs-10"><input type="text" name="SortID" class="form-control product-add-form"></div>
                                </div>
                                <div class="hr-line-dashed add-product" style="display:none;"></div>
                                <div class="form-group add-product" style="display:none;">
                                    <div class="col-xs-8 col-xs-offset-2">
                                        <button class="btn btn-primary" type="submit">เพิ่มสินค้า</button>
                                        <button class="btn btn-default showhide" type="button" onclick="clearAddProduct(); return false;">ยกเลิก</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        สต็อคสินค้า
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example2" class="display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>รหัสสินค้า</td>
                                        <td>ชื่อสินค้า</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>สาขา</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>รหัสสินค้า</th>
                                        <th>ชื่อสินค้า</th>
                                        <th>ภาพ</th>
                                        <th>XS</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>L</th>
                                        <th>XL</th>
                                        <th>XXL</th>
                                        <th>หมวดหมู่</th>
                                        <th>ราคา Dropship</th>
                                        <th>ราคา Wholesale 0-49</th>
                                        <th>ราคา Wholesale 50+</th>
                                        <th>ราคา Retail</th>
                                        <th>ราคา VIP</th>
                                        <th>สาขา</th>
                                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="editable_cell" id="td_sortid_@item.ProductID">@Html.DisplayFor(modelItem => item.ProductSortID)</td>
                                                <td class="editable_cell" id="td_name_@item.ProductID">@Html.DisplayFor(modelItem => item.Barcode)</td>
                                                <td class="editable_cell" id="td_description_@item.ProductID">@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td class="" id="td_image_@item.ProductID">
                                                    @if (item.Image == null)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <img src="~/Main/DisplayImage?productId=@item.ProductID" height="100" />
                                                    }
                                                </td>
                                                <td class="" id="td_amountxs_@item.ProductID">@Html.DisplayFor(modelItem => item.AmountXS)</td>
                                                <td class="" id="td_amounts_@item.ProductID">@Html.DisplayFor(modelItem => item.AmountS)</td>
                                                <td class="" id="td_amountm_@item.ProductID">@Html.DisplayFor(modelItem => item.AmountM)</td>
                                                <td class="" id="td_amountl_@item.ProductID">@Html.DisplayFor(modelItem => item.AmountL)</td>
                                                <td class="" id="td_amountxl_@item.ProductID">@Html.DisplayFor(modelItem => item.AmountXL)</td>
                                                <td class="" id="td_amountf_@item.ProductID">@Html.DisplayFor(modelItem => item.AmountF)</td>
                                                <td class="selectable_cell" id="td_categoryid_@item.ProductID">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                                <td class="editable_cell" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price)</td>
                                                <td class="editable_cell" id="td_price2_@item.ProductID">@Html.DisplayFor(modelItem => item.Price2)</td>
                                                <td class="editable_cell" id="td_price3_@item.ProductID">@Html.DisplayFor(modelItem => item.Price3)</td>
                                                <td class="editable_cell" id="td_price4_@item.ProductID">@Html.DisplayFor(modelItem => item.Price4)</td>
                                                <td class="editable_cell" id="td_pricevip_@item.ProductID">@Html.DisplayFor(modelItem => item.PriceVIP)</td>
                                                <td class="" id="td_branch_@item.ProductID">@Html.DisplayFor(modelItem => item.BranchName)</td>
                                                <td><button id="deletebutton_@item.ProductID" class="btn btn-danger deleteButton" type="button"><i class="fa fa-trash-o"></i> <span class="bold">ลบ</span></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

        $(function () {

            $("#form1").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 3
                    },
                    Description: {
                        required: true,
                        minlength: 3
                    },
                    Category: {
                        required: true
                    },
                    Barcode: {
                        required: true
                    },
                    AmountXS: {
                        required: true,
                        number: true
                    },
                    AmountS: {
                        required: true,
                        number: true
                    },
                    AmountM: {
                        required: true,
                        number: true
                    },
                    AmountL: {
                        required: true,
                        number: true
                    },
                    AmountXL: {
                        required: true,
                        number: true
                    },
                    AmountF: {
                        required: true,
                        number: true
                    },
                    Price: {
                        required: true,
                        number: true
                    },
                    Price2: {
                        required: true,
                        number: true
                    },
                    Price3: {
                        required: true,
                        number: true
                    },
                    PriceVIP: {
                        required: true,
                        number: true
                    },
                    Branch: {
                        required: true,
                        number: true,
                        maxlength: 1
                    },
                    SortID: {
                        required: true,
                        number: true,
                        maxlength: 3
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    if (title == "สาขา")
                    {
                        $(this).html('<select id="branch-filter"><option value=""></option></select>');
                    }
                    else
                    {
                        $(this).html('<input class="column_filter" type="text" placeholder="ค้นตาม' + title + '" />');
                    }
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminProductTableUpdate", "Main")', {
                        "height": "30px",
                        "margin": "-15px",
                        "width": "70%",
                        "className": "form-control",
                        "select": true
                    });

                    $('.selectable_cell').editable('@Url.Action("AdminProductTableUpdate", "Main")', {
                        "loadurl": "@Url.Action("GetCategory", "Main")",
                        "type": "select",
                        "height": "auto",
                        "margin": "-2px",
                        "width": "80%",
                        "className": "form-control",
                        "submit": "ok",
                        "callback": function (value, settings) {
                            var td = $(this);
                            $.get('@Url.Action("GetCategoryName", "Main")', { id: value }, function (data) {
                                td[0].innerText = data;
                            });
                        }
                    });
                },
                "deferRender": true
            });

            var branchColumn;

            table.columns().every(function () {
                var column = this;
                if (column.header().innerText == "สาขา")
                {
                    column.data().unique().sort().each(function (d, j) {
                        $("#branch-filter").append('<option value="' + d + '">' + d + '</option>');
                    });
                    //$("#branch-filter").val('Online');
                    branchColumn = this;

                    $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
                }

                $('#branch-filter', this.footer()).on('change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

            $('.deleteButton').click(function () {
                var userid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณแน่ใจหรือว่าต้องการลบรายการนี้?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("DeleteProductRow","Main")', { id: userid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });

            $(document).ready(function () {
                //table
                //    .column($(branchColumn).parent().index() + ':visible')
                //    .search('Online')
                //    .draw();
            });
        });

        function clearAddProduct() {
            $(".product-add-form").val("");
            $(".product-add-size").val("0");
        }

        function showFormDetail(val) {
            if (val == 0) {
                $(".add-product").hide();
            }
            else {
                $.post('@Url.Action("getCategorySizes", "Main")', { categoryID: val }, function (data) {
                    $(".add-product").show();

                    if (!data.xs) {
                        $(".size-xs").hide();
                    }
                    if (!data.s) {
                        $(".size-s").hide();
                    }
                    if (!data.m) {
                        $(".size-m").hide();
                    }
                    if (!data.l) {
                        $(".size-l").hide();
                    }
                    if (!data.xl) {
                        $(".size-xl").hide();
                    }
                    if (!data.xxl) {
                        $(".size-xxl").hide();
                    }
                });
            }

        }



</script>

