﻿@model List<MySeventhStreet.Models.User>
    @{
        ViewBag.Title = "Admin User";

    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel panel-collapse">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        เพิ่ม USER ใหม่
                    </div>
                    <div class="panel-body" style="display: none;">
                        <form id="form1" action="@Url.Action("CreateUser", "Main")" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">ชื่อผู้ใช้</label>

                                <div class="col-xs-10"><input type="text" name="UserName" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">ชื่อร้าน</label>

                                <div class="col-xs-10"><input type="text" name="ShopName" class="form-control user-add-form" value="7th Street"></div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">LINE ไอดี</label>

                                <div class="col-xs-10"><input type="text" name="LineID" class="form-control user-add-form" value="n/a"></div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">โทรศัพท์</label>

                                <div class="col-xs-10"><input type="text" name="Phone" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">อีเมล์</label>

                                <div class="col-xs-10"><input type="email" name="Email" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">จังหวัด</label>

                                <div class="col-xs-10">@Html.DropDownList("Province", new SelectList(ViewBag.ProvinceList, "ProvinceID", "Name"), new { @class = "form-control m-b", @onchange = "poppulateCity(this.value);" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">อำเภอ</label>

                                <div class="col-xs-10">@Html.DropDownList("CityList", null, new { @class = "form-control m-b" })</div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">ที่อยู่</label>

                                <div class="col-xs-10"><input type="text" name="Address" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">เว็บไซต์</label>

                                <div class="col-xs-10"><input type="text" name="Website" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">ประเภทสมาชิก</label>

                                <div class="col-xs-10">@Html.DropDownList("UserType", new SelectList(ViewBag.AdminTypeList, "Value", "Text"), new { @class = "form-control m-b" })</div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-2 control-label">รหัสสมาชิก</label>

                                <div class="col-xs-10"><input type="text" name="MemberCode" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">รหัสผ่าน</label>

                                <div class="col-xs-10"><input type="password" name="Password" class="form-control user-add-form"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">ยืนยันรหัสผ่าน</label>

                                <div class="col-xs-10"><input type="password" name="ConfirmPassword" class="form-control user-add-form"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-primary" type="submit">เพิ่มผู้ใช้</button>
                                    <button class="btn btn-default" type="button" onclick="clearAddUser(); return false;">ยกเลิก</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            รายชื่อผู้ใช้ระบบ
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>ประเภทสมาชิก</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>วันที่สมัคร</th>
                                            <th>ชื่อผู้ใช้</th>
                                            <th>ชื่อร้าน</th>
                                            <th>LINE ไอดี</th>
                                            <th>โทรศัพท์</th>
                                            <th>อีเมล์</th>
                                            <th>จังหวัด</th>
                                            <th>อำเภอ</th>
                                            <th>ที่อยู่</th>
                                            <th>เว็บไซต์</th>
                                            <th>ประเภทสมาชิก</th>
                                            <th>รหัสสมาชิก</th>
                                            <th>สถานะ user</th>
                                            <th>หมายเหตุ</th>
                                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="" id="td_date_@item.UserID">@Html.DisplayFor(modelItem => item.RegisteredDate)</td>
                                                    <td class="" id="td_username_@item.UserID">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                    <td class="" id="td_shopname_@item.UserID">@Html.DisplayFor(modelItem => item.ShopName)</td>
                                                    <td class="" id="td_lineid_@item.UserID">@Html.DisplayFor(modelItem => item.LineID)</td>
                                                    <td class="" id="td_phone_@item.UserID">@Html.DisplayFor(modelItem => item.Phone)</td>
                                                    <td class="" id="td_email_@item.UserID">@Html.DisplayFor(modelItem => item.Email)</td>
                                                    <td class="" id="td_province_@item.UserID">@Html.DisplayFor(modelItem => item.Province)</td>
                                                    <td class="" id="td_city_@item.UserID">@Html.DisplayFor(modelItem => item.City)</td>
                                                    <td class="" id="td_address_@item.UserID">@Html.DisplayFor(modelItem => item.Address)</td>
                                                    <td class="" id="td_amount_@item.UserID">@Html.DisplayFor(modelItem => item.Website)</td>
                                                    <td class="" id="td_usertype_@item.UserID">
                                                        @switch (item.UserType)
                                                        {
                                                            case 1:
                                                                <text>Admin</text>
                                                                break;
                                                            case 2:
                                                                <text>Dropship</text>
                                                                break;
                                                            case 3:
                                                                <text>Online(Stock)</text>
                                                                break;
                                                            case 4:
                                                                <text>Wholesale</text>
                                                                break;
                                                            case 9:
                                                                <text>Subadmin</text>
                                                                break;
                                                            default:
                                                                <text>Other</text>
                                                                break;
                                                        }
                                                    </td>


                                                    <td class="editable_cell" id="td_membercode_@item.UserID">@Html.DisplayFor(modelItem => item.MemberCode)</td>
                                                    @if (item.Approved == null)
                                                    {
                                                        <td class="" id="td_approved_@item.UserID">
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">รอตอบรับ <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#" id="@item.UserID" class="font-bold approvebutton">ยืนยัน</a></li>
                                                                    <li><a href="#" id="@item.UserID" class="font-bold denybutton">ปฏิเสธ</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>

                                                    }
                                                    else if (item.Approved.Value)
                                                    {
                                                        <td class="" id="td_approved_@item.UserID">ยืนยันแล้ว</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="" id="td_approved_@item.UserID">ปฏิเสธแล้ว</td>
                                                    }
                                                    <td class="" id="td_remark_@item.UserID">@Html.DisplayFor(modelItem => item.Remark)</td>
                                                    <td><button id="deletebutton_@item.UserID" class="btn btn-danger deleteButton" type="button"><i class="fa fa-trash-o"></i> <span class="bold">ลบ</span></button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(function () {
            $.validator.addMethod(
                    "regex",
                    function (value, element, regexp) {
                        var re = new RegExp(regexp);
                        return this.optional(element) || re.test(value);
                    },
                    "Please check your username."
            );
            $("#form1").validate({
                rules: {
                    UserName: {
                        regex: "^[a-zA-Z\d]{4,15}$",
                        required: true,
                        minlength: 4
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<select id="userType-filter"><option value="">ทั้งหมด</option><option value="Admin">Admin</option><option value="Subadmin">Subadmin</option><option value="Dropship">Dropship</option><option value="Online(Stock)">Online(Stock)</option><option value="Wholesale">Wholesale</option></select>');
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminUserTableUpdate", "Main")', {
                        "height": "30px",
                        "margin": "-15px",
                        "width": "80%",
                        "className": "form-control",
                        "select": true
                    });
                }
            });

            table.columns().every(function () {
                var that = this;

                $('#userType-filter', this.footer()).on('change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

            $('#example2').on('draw.dt', function () {
                assignRowAlert();
            });

            assignRowAlert();
        });

        function poppulateCity(val) {
            $.post('@Url.Action("GetListCity","Main")', { provinceId: val }, function (data) {
                var markup;
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CityList").html(markup);
            });
        }

        function assignRowAlert() {
            $('.deleteButton').click(function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var userid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณแน่ใจหรือว่าต้องการลบรายการนี้?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("DeleteUserRow","Main")', { id: userid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });

            $('.dropdown-menu').on('click', 'a.approvebutton', function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var userid = $(this).attr("id");
                swal({
                    title: "ยืนยันผู้ใช้",
                    text: "เมื่อยืนยันแล้วจะไม่สามารถย้อนกลับได้",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.post('@Url.Action("ApproveUserRow","Main")', { id: userid }, function (data) {
                                window.location.href = data;
                            });
                        }
                    });
            });

            $('.dropdown-menu').on('click', 'a.denybutton', function (e) {
                e.preventDefault();
                $('.sweet-alert input').show();
                var userid = $(this).attr("id");
                swal({
                    title: "ปฎิเสธผู้ใช้",
                    text: "กรุณาใส่เหตุผลที่ปฏิเสธการสมัคร",
                    type: "input",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                    function (inputValue) {
                        if (inputValue === false)
                            return false;
                        if (inputValue === "") {
                            swal.showInputError("You need to write something!");
                            return false;
                        }

                        $.post('@Url.Action("DenyUserRow","Main")', { id: userid, reason: inputValue }, function (data) {
                            window.location.href = data;
                        });

                    });
            });

        }

        function clearAddUser() {
            $(".user-add-form").val("");
        }

    </script>
