﻿@model List<MySeventhStreet.Models.User>
    @{
        ViewBag.Title = "Admin User Order";

    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            รายชื่อผู้ใช้ระบบ
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>ประเภทสมาชิก</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <th>สั่งล่าสุด</th>
                                            <th>ชื่อผู้ใช้</th>
                                            <th>ชื่อร้าน</th>
                                            <th>LINE ไอดี</th>
                                            <th>โทรศัพท์</th>
                                            <th>อีเมล์</th>
                                            <th>จังหวัด</th>
                                            <th>อำเภอ</th>
                                            <th>ที่อยู่</th>
                                            <th>เว็บไซต์</th>
                                            <th>ประเภทสมาชิก</th>
                                            <th>รหัสสมาชิก</th>
                                            <th>สถานะ user</th>
                                            <th>หมายเหตุ</th>
                                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <input type="hidden" class="td_row_user_id" value="@item.UserID" />
                                                    <td class="" id="td_orderdate_@item.UserID">@Html.Action("GetUserLastOrderDate", "Main", new { userID = item.UserID })</td>
                                                    <td class="" id="td_username_@item.UserID">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                    <td class="" id="td_shopname_@item.UserID">@Html.DisplayFor(modelItem => item.ShopName)</td>
                                                    <td class="" id="td_lineid_@item.UserID">@Html.DisplayFor(modelItem => item.LineID)</td>
                                                    <td class="" id="td_phone_@item.UserID">@Html.DisplayFor(modelItem => item.Phone)</td>
                                                    <td class="" id="td_email_@item.UserID">@Html.DisplayFor(modelItem => item.Email)</td>
                                                    <td class="" id="td_province_@item.UserID">@Html.DisplayFor(modelItem => item.Province)</td>
                                                    <td class="" id="td_city_@item.UserID">@Html.DisplayFor(modelItem => item.City)</td>
                                                    <td class="" id="td_address_@item.UserID">@Html.DisplayFor(modelItem => item.Address)</td>
                                                    <td class="" id="td_amount_@item.UserID">@Html.DisplayFor(modelItem => item.Website)</td>
                                                    <td class="" id="td_usertype_@item.UserID">
                                                        @switch (item.UserType)
                                                        {
                                                            case 1:
                                                                <text>Admin</text>
                                                                break;
                                                            case 2:
                                                                <text>Dropship</text>
                                                                break;
                                                            case 3:
                                                                <text>Online(Stock)</text>
                                                                break;
                                                            case 4:
                                                                <text>Wholesale</text>
                                                                break;
                                                            case 9:
                                                                <text>Subadmin</text>
                                                                break;
                                                            default:
                                                                <text>Other</text>
                                                                break;
                                                        }
                                                    </td>


                                                    <td class="editable_cell" id="td_membercode_@item.UserID">@Html.DisplayFor(modelItem => item.MemberCode)</td>
                                                    @if (item.Approved == null)
                                                    {
                                                        <td class="" id="td_approved_@item.UserID">
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">รอตอบรับ <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#" id="@item.UserID" class="font-bold approvebutton">ยืนยัน</a></li>
                                                                    <li><a href="#" id="@item.UserID" class="font-bold denybutton">ปฏิเสธ</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>

                                                    }
                                                    else if (item.Approved.Value)
                                                    {
                                                        <td class="" style="text-align:center;" id="td_approved_@item.UserID"><i class="fa fa-check text-success">เปิด</i></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="" style="text-align:center;" id="td_approved_@item.UserID"><i class="fa fa-times text-danger">ปิด</i></td>
                                                    }
                                                    <td class="" id="td_remark_@item.UserID">@Html.DisplayFor(modelItem => item.Remark)</td>
                                                    @if (item.Approved == null || !item.Approved.Value)
                                                    {
                                                        <td><button id="enablebutton_@item.UserID" class="btn btn-primary enableButton" type="button"><i class="fa fa-check"></i> <span class="bold">เปิดการใช้งาน</span></button></td>
                                                    }
                                                    else
                                                    {
                                                        <td><button id="disablebutton_@item.UserID" class="btn btn-primary disableButton" type="button"><i class="fa fa-times"></i> <span class="bold">ปิดการใช้งาน</span></button></td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(function () {
            $("#form1").validate({
                rules: {
                    UserName: {
                        required: true,
                        minlength: 4
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<select id="userType-filter"><option value="">ทั้งหมด</option><option value="Admin">Admin</option><option value="Subadmin">Subadmin</option><option value="Dropship">Dropship</option><option value="Online(Stock)">Online(Stock)</option><option value="Wholesale">Wholesale</option></select>');
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminUserTableUpdate", "Main")', {
                        "height": "auto",
                        "margin": "-2px",
                        "width": "80%",
                        "className": "form-control"
                    });
                },
                "createdRow": function (row, data, index) {
                    var userId = $(row).find(".td_row_user_id").val();
                    $.post('@Url.Action("AdminUserOrderRowStatus", "Main")', { id: userId }, function (status) {
                        if (status == 2 || status == 3) {
                            $('td', row).addClass('text-danger');
                        }
                    });
                }
            });

            table.columns().every(function () {
                var that = this;

                $('#userType-filter', this.footer()).on('change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

            $('#example2').on('draw.dt', function () {
                assignRowAlert();
            });

            assignRowAlert();
        });

        function assignRowAlert() {
            $('.disableButton').click(function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var userid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณต้องการปิดการใช้งานของผู้ใช้คนนี้?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("DisableUserRow","Main")', { id: userid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });

            $('.enableButton').click(function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var userid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณต้องการเปิดการใช้งานของผู้ใช้คนนี้?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("EnableUserRow","Main")', { id: userid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });

            $('.dropdown-menu').on('click', 'a.approvebutton', function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var userid = $(this).attr("id");
                swal({
                    title: "ยืนยันผู้ใช้",
                    text: "เมื่อยืนยันแล้วจะไม่สามารถย้อนกลับได้",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.post('@Url.Action("ApproveUserRow","Main")', { id: userid }, function (data) {
                                window.location.href = data;
                            });
                        }
                    });
            });

            $('.dropdown-menu').on('click', 'a.denybutton', function (e) {
                e.preventDefault();
                $('.sweet-alert input').show();
                var userid = $(this).attr("id");
                swal({
                    title: "ปฎิเสธผู้ใช้",
                    text: "กรุณาใส่เหตุผลที่ปฏิเสธการสมัคร",
                    type: "input",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                    function (inputValue) {
                        if (inputValue === false)
                            return false;
                        if (inputValue === "") {
                            swal.showInputError("You need to write something!");
                            return false;
                        }

                        $.post('@Url.Action("DenyUserRow","Main")', { id: userid, reason: inputValue }, function (data) {
                            window.location.href = data;
                        });

                    });
            });
        }

    </script>
