﻿@model List<MySeventhStreet.Models._SaleDetail>
@{
    ViewBag.Title = "Admin Sale Summary";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        รายการยอดขาย
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <p>ช่วงเวลาของรายการที่แสดง</p>
                            <form id="form1" action="@Url.Action("AdminSaleSummaryReport", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                                <div class="col-lg-4">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" name="start" />
                                        <span class="input-group-addon">จนถึง</span>
                                        <input type="text" class="input-sm form-control" name="end" />
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <div class="col-xs-8 col-xs-offset-0">
                                            <button class="btn btn-primary" name="filter" type="submit" value="filter">แสดงผลตามวันที่เลือก</button>
                                            <button class="btn btn-primary" name ="summary" type="submit" value="summary">แสดงสรุปยอดขายตามวันที่เลือก</button>
                                        </div>
                                        </br>
                                        </br>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <td>ผู้สั่งซื้อ</td>
                                            <td>หมายเลขคำสั่งซื้อ</td>
                                            <td></td>
                                            <td>สาขา</td>
                                            <td>ชื่อลูกค้า</td>
                                            <td>หมวดหมู่</td>
                                            <td>รหัสบาร์โค้ด</td>
                                            <td>รหัสสินค้า</td>
                                            <td>ชื่อสินค้า</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>ผู้สั่งซื้อ</th>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>วันสั่งของ</th>
                                            <th>สาขา</th>
                                            <th>ชื่อลูกค้า</th>
                                            <th>หมวดหมู่</th>
                                            <th>รหัสบาร์โค้ด</th>
                                            <th>รหัสสินค้า</th>
                                            <th>ชื่อสินค้า</th>
                                            <th>ราคาสินค้า</th>
                                            <th>จำนวน</th>
                                            <th>ส่วนลด</th>
                                            <th>ราคาขาย</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="col-xs-1" id="td_username_@item.OrderNumber">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                    <td class="col-xs-1" id="td_orderId_@item.OrderNumber">@Html.ActionLink(item.OrderNumber, "OrderDetail", new { orderNumber = item.OrderNumber })</td>
                                                    <td class="col-xs-1" id="td_orderdate_@item.OrderNumber">@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                                    <td class="col-xs-1" id="td_branchname_@item.OrderNumber">@Html.DisplayFor(modelItem => item.BranchName)</td>
                                                    <td class="col-xs-1" id="td_username_@item.OrderNumber">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                    <td class="col-xs-1" id="td_category_@item.OrderNumber">@Html.DisplayFor(modelItem => item.Category)</td>
                                                    <td class="col-xs-1" id="td_barcode_@item.OrderNumber">@Html.DisplayFor(modelItem => item.Barcode)</td>
                                                    <td class="col-xs-1" id="td_productid_@item.OrderNumber">@Html.DisplayFor(modelItem => item.ProductID)</td>
                                                    <td class="col-xs-1" id="td_productname_@item.OrderNumber">@Html.DisplayFor(modelItem => item.ProductName)</td>
                                                    <td class="col-xs-1" id="td_productprice_@item.OrderNumber">@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                                                    <td class="col-xs-1" id="td_quantity_@item.OrderNumber">@Html.DisplayFor(modelItem => item.Quantity)</td>
                                                    <td class="col-xs-1" id="td_discount_@item.OrderNumber">@Html.DisplayFor(modelItem => item.Discount)</td>
                                                    <td class="col-xs-1" id="td_totalprice_@item.OrderNumber">@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        function isInt(value) {
            return !isNaN(value) &&
                   parseInt(Number(value)) == value &&
                   !isNaN(parseInt(value, 10));
        }

        $(function () {
            $('#datepicker').datepicker();
            $("#datepicker").on("changeDate", function (event) {
                $("#my_hidden_input").val(
                        $("#datepicker").datepicker('getFormattedDate')
                )
            });

            $('.toDeliverButton').click(function () {
                var ordernumber = $(this).attr("id");

                swal({
                    title: "ยืนยันพร้อมจัดส่ง",
                    text: "กรุณาใส่ค่าจัดส่ง",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "ค่าจัดส่ง"
                }, function (inputValue) {
                    if (inputValue === false || !isInt(inputValue) || inputValue === "") {
                        swal.showInputError("กรุณาใส่ค่าจัดส่งเป็นตัวเลข");
                        return false;
                    }

                    $.get('@Url.Action("AdminOrderUpdateStatus", "Main")', { orderNumber: ordernumber, status: 3, remark: inputValue }, function (data) {
                        window.location.reload(true);
                    });
                });
            });

            $('.cancelButton').click(function () {
                var ordernumber = $(this).attr("id");

                swal({
                    title: "คุณต้องการลบออเดอร์นี้หรือไม่?",
                    text: "กรุณาใส่เหตุผลที่ลบออเดอร์นี้ด้านล่าง",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "สาเหตุที่ลบ"
                }, function (inputValue) {
                    if (inputValue === false) {
                        return false;
                    }

                    if (inputValue === "") {
                        swal.showInputError("จำเป็นต้องมีเหตุผลในการลบ");
                        return false;
                    }

                    $.get('@Url.Action("AdminOrderUpdateStatus", "Main")', { orderNumber: ordernumber, status: 0, remark: inputValue }, function (data) {
                        window.location.reload(true);
                    });
                });
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    if (title == "สาขา") {
                        $(this).html('<select id="branch-filter"><option value=""></option></select>');
                    }
                    else {
                        $(this).html('<input class="column_filter" type="text" placeholder="ค้นตาม' + title + '" />');
                    }
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                }
            });

            table.columns().every(function () {
                var that = this;

                var column = this;
                if (column.header().innerText == "สาขา") {
                    column.data().unique().sort().each(function (d, j) {
                        $("#branch-filter").append('<option value="' + d + '">' + d + '</option>')
                    });
                    var that = this;

                    $('.column_filter', this.footer()).on('keyup change', function () {
                        table
                            .column($(this).parent().index() + ':visible')
                            .search(this.value)
                            .draw();
                    });
                }

                $('#branch-filter', this.footer()).on('change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

        });

</script>
