﻿@model MySeventhStreet.ViewModels._OrderDetail
@{
    ViewBag.Title = "AdminEditOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content animate-panel">
    <div class="hpanel col-lg-12">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            รายละเอียดการสั่งซื้อ
        </div>
        <div class="panel-body">
            <div class="table-condensed" id="printarea">
                <form id="form1" action="@Url.Action("CreateUser", "Main")" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">ชื่อผู้สั่ง</label>
                        <div class="col-xs-5">@Model.DeliveryName</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">ที่อยู่</label>
                        <div class="col-xs-5">@Model.DeliveryAddress</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">หมายเลขคำสั่งซื้อ</label>
                        <div class="col-xs-5">@Model.OrderNumber</div>
                    </div>
                </form>
                <table id="example2" class="display table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th class="hidden"></th>
                            <th>ชื่อสินค้า</th>
                            <th>XS</th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>XXL</th>
                            <th>จำนวนรวม</th>
                            <th>ราคาต่อหน่วย</th>
                            <th>ราคารวม</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var totalPrice = 0;
                            var eachPrice = 0;
                            var itemPrice = 0;
                            foreach (var item in Model.Products)
                            {
                                var totalAmount = item.AmountXS + item.AmountS + item.AmountM + item.AmountL + item.AmountXL + item.AmountF;
                                itemPrice = item.Price ?? 0;
                                eachPrice = itemPrice / totalAmount.Value;
                                totalPrice += itemPrice;

                                <tr>
                                    <td class="hidden">@Html.Action("GetProductAndCategorySortID", "Main", new { pid = item.ProductID })</td>
                                    <td class="col-xs-2" id="sc_name_@(item.ProductID)_@Model.OrderNumber">@item.Name (@item.Barcode)</td>
                                    <td class="col-xs-1 editable_cell" id="sc_amountxs_@(item.ProductID)_@Model.OrderNumber">@item.AmountXS</td>
                                    <td class="col-xs-1 editable_cell" id="sc_amounts_@(item.ProductID)_@Model.OrderNumber">@item.AmountS</td>
                                    <td class="col-xs-1 editable_cell" id="sc_amountm_@(item.ProductID)_@Model.OrderNumber">@item.AmountM</td>
                                    <td class="col-xs-1 editable_cell" id="sc_amountl_@(item.ProductID)_@Model.OrderNumber">@item.AmountL</td>
                                    <td class="col-xs-1 editable_cell" id="sc_amountxl_@(item.ProductID)_@Model.OrderNumber">@item.AmountXL</td>
                                    <td class="col-xs-1 editable_cell" id="sc_amountf_@(item.ProductID)_@Model.OrderNumber">@item.AmountF</td>
                                    <td class="col-xs-1" id="sc_totalamount_@(item.ProductID)_@Model.OrderNumber">@totalAmount</td>
                                    <td class="col-xs-1" id="sc_eachprice_@(item.ProductID)_@Model.OrderNumber">@eachPrice</td>
                                    <td class="col-xs-1" id="sc_price_@(item.ProductID)_@Model.OrderNumber">@itemPrice</td>

                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="col-xs-2"><strong>ส่วนลด</strong></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1 editable_cell" id="sc_discount_0_@Model.OrderNumber">@Model.Discount</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2"><strong>ค่าส่ง</strong></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1 editable_cell" id="sc_shipping_0_@Model.OrderNumber">@Model.Shipping</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2"><strong>ราคารวม</strong></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"><strong>@(totalPrice - Model.Discount + Model.Shipping)</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var table = $('#example2').DataTable({
            "dom": '',
            buttons: [
            ],
            "fnDrawCallback": function () {
                $('.editable_cell').editable('@Url.Action("AdminOrderTableUpdate", "Main")', {
                    "height": "auto",
                    "margin": "-2px",
                    "width": "80%",
                    "className": "form-control",
                    "callback": function (value, settings) {
                        window.location.reload();
                    }
                });
            }
        });
    });
</script>