﻿@model _TransactionList
@{
    ViewBag.Title = "Admin Transfer Product";
}
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    โอนถ่ายสินค้าระหว่างสาขา
                </div>
                <div class="panel-body">
                    <form id="form1" action="@Url.Action("SetOriginTransfer", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">โอนจากสาขา:</label>
                            <div class="col-xs-1">@Html.DropDownList("FromBranch", new SelectList(ViewBag.branchlist, "BranchID", "Name"), new { @class = "js-source-user", @onchange = "" })</div>
                            <div class="col-xs-1 ">
                                <button class="btn btn-primary" type="submit">เลือกสาขา</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        รายการโอนถ่าย/รับของ
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example2" class="display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <td>เลขที่รายการ</td>
                                        <td>ชื่อสินค้า</td>
                                        <td>หมวดหมู่</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>ผู้ทำรายการ</td>
                                        <td>วันที่</td>
                                        <td>จากสาขา</td>
                                        <td>ไปที่สาขา</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>เลขที่รายการ</th>
                                        <th>ชื่อสินค้า</th>
                                        <th>หมวดหมู่</th>
                                        <th>XS</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>L</th>
                                        <th>XL</th>
                                        <th>XXL</th>
                                        <th>ผู้ทำรายการ</th>
                                        <th>วันที่</th>
                                        <th>จากสาขา</th>
                                        <th>ไปที่สาขา</th>
                                        <th>ยืนยัน</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.transactions)
                                        {
                                            <tr>
                                                <td class="col-xs-2" id="td_transactionnumber_@item.TransactionID">@Html.DisplayFor(modelItem => item.TransactionNumber)</td>
                                                <td class="col-xs-2" id="td_product_@item.TransactionID">@Html.DisplayFor(modelItem => item.ProductName)</td>
                                                <td class="col-xs-2" id="td_category_@item.TransactionID">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                                <td class="col-xs-1" id="td_amountxs_@item.TransactionID">@Html.DisplayFor(modelItem => item.AmountXS)</td>
                                                <td class="col-xs-1" id="td_amounts_@item.TransactionID">@Html.DisplayFor(modelItem => item.AmountS)</td>
                                                <td class="col-xs-1" id="td_amountm_@item.TransactionID">@Html.DisplayFor(modelItem => item.AmountM)</td>
                                                <td class="col-xs-1" id="td_amountl_@item.TransactionID">@Html.DisplayFor(modelItem => item.AmountL)</td>
                                                <td class="col-xs-1" id="td_amountxl_@item.TransactionID">@Html.DisplayFor(modelItem => item.AmountXL)</td>
                                                <td class="col-xs-1" id="td_amountxxl_@item.TransactionID">@Html.DisplayFor(modelItem => item.AmountXXL)</td>
                                                <td class="col-xs-2" id="td_username_@item.TransactionID">@Html.DisplayFor(modelItem => item.UserName)</td>
                                                <td class="col-xs-2" id="td_date_@item.TransactionID">@Html.DisplayFor(modelItem => item.Date.Value)</td>
                                                <td class="col-xs-2" id="td_frombranch_@item.TransactionID">@Html.DisplayFor(modelItem => item.FromBranch)</td>
                                                <td class="col-xs-2" id="td_tobranch_@item.TransactionID">@Html.DisplayFor(modelItem => item.ToBranch)</td>
                                                @if (item.FromBranchID != null && item.Approved == null && (int.Parse(Session["UserType"].ToString()) == 1 || int.Parse(Session["userBranchID"].ToString()) == item.ToBranchID || int.Parse(Session["userBranchID"].ToString()) == item.FromBranchID))
                                                {
                                                    <td class="col-xs-2">
                                                        @if (int.Parse(Session["UserType"].ToString()) == 1 || int.Parse(Session["userBranchID"].ToString()) == item.ToBranchID)
                                                        {
                                                            <button id="enablebutton_@item.TransactionID" class="btn w-xs btn-primary approveButton" type="button"><i class="fa fa-check"></i> <span class="bold">ยืนยันการโอนสินค้า</span></button>
                                                        }
                                                        @if (int.Parse(Session["UserType"].ToString()) == 1 || int.Parse(Session["userBranchID"].ToString()) == item.FromBranchID)
                                                        {
                                                            <button id="cancelbutton_@item.TransactionID" class="btn w-xs btn-warning2 cancelButton" type="button"><i class="fa fa-trash"></i> <span class="bold">ลบการโอนสินค้า</span></button>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="col-xs-2"><span class="badge badge-success">ยืนยันแล้ว</span></td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function isInt(value)
    {
            return !isNaN(value) &&
                   parseInt(Number(value)) == value &&
                   !isNaN(parseInt(value, 10));
    }

            function setOriginTransfer(val) {
            $.post('@Url.Action("SetOriginTransfer", "Main")', { id: val }, function (user) {
            });
        }

        $(function () {

            $('.approveButton').click(function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var transactionid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณต้องการยืนยันการโอนสินค้านี้หรือไม่?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("ApproveProductTransfer","Main")', { id: transactionid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });


            $('.cancelButton').click(function (e) {
                e.preventDefault();
                $('.sweet-alert input').hide();
                var transactionid = $(this).attr("id");
                swal({
                    title: "คำเตือน",
                    text: "คุณต้องการลบการโอนสินค้านี้และที่เกี่ยวข้องทั้งหมดหรือไม่?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK"
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("CancelProductTransfer","Main")', { id: transactionid }, function (data) {
                                    window.location.href = data;
                                });
                            }
                        });
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<input class="column_filter" type="text" style="width:100%;" placeholder="ค้นตาม' + title + '" />');
                }
            });

            var table2 = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                }
            });

            table2.columns().every(function () {
                var that = this;

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table2
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

        });

</script>
