﻿@model List<MySeventhStreet.Models.Product>
    @{
        ViewBag.Title = "AdminAddProduct";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="content animate-panel">
        <div class="col-lg-12" id="result-message-panel" style="display:none;">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">

                    </div>
                </div>
                <div class="panel-body">
                    <div class="message-panel-success" style="display:none;">
                        <span class="message-content-success text-success"><strong>รับสินค้าเรียบร้อยแล้ว</strong></span>
                        <br />
                        <br />
                        <button type="button" class="btn w-xs btn-primary" onclick="refreshPage();">กลับสู่หน้ารับสินค้า</button>
                    </div>
                    <div class="message-panel-fail" style="display:none;">
                        <span class="message-content-fail text-danger"><strong>เกิดความผิดพลาด กรูณาลองใหม่อีกครั้ง</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" onsubmit="return scanAddProduct(event);">
            <div class="form-group">
                <label class="col-xs-2 control-label">เพิ่มสินค้าจาก Supplier:</label>

                <div class="col-xs-3">@Html.DropDownList("SupplierDDL", new SelectList(ViewBag.supplierList, "supplierID", "Name"), new { @class = "form-control js-source-user", @onchange = "setSupplier(this.value);" })</div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">กดที่กล่องก่อน Scan สินค้า:</label>

                <div class="col-xs-3"><input type="text" id="scannedBarcodeText" name="Name" class="form-control product-add-form"></div>
                <span id="messageAddScanProduct" class="message-content text-info"><strong></strong></span>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>รหัสสินค้า</td>
                                        <td>ชื่อสินค้า</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>หมวดหมู่</th>
                                        <th>รหัสสินค้า</th>
                                        <th>ชื่อสินค้า</th>
                                        <th>ภาพ</th>
                                        <th>XS</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>L</th>
                                        <th>XL</th>
                                        <th>XXL</th>
                                        <th><button id="addbutton_top" class="btn btn-success addbutton" type="button"><i class="fa fa-upload"></i> <span class="bold">รับสินค้าเข้าระบบ</span></button></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="" id="td_sortid_@item.ProductID">@Html.Action("GetProductSortID", "Main", new { pid = item.ProductID })</td>
                                                <td class="" id="td_categoryid_@item.ProductID">@Html.Action("GetCategoryName", "Main", new { id = item.CategoryID })</td>
                                                <td class="" id="td_name_@item.ProductID">@Html.DisplayFor(modelItem => item.Barcode)</td>
                                                <td class="" id="td_description_@item.ProductID">@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td class="" id="td_image_@item.ProductID"><img src="~/Main/DisplayImage?productId=@item.ProductID" height="100" /></td>
                                                <td class="editable_cell" id="td_amountxs_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amounts_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountm_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountl_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountxl_@item.ProductID">0</td>
                                                <td class="editable_cell" id="td_amountf_@item.ProductID">0</td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
@*                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><button id="addbutton_bottom" class="btn btn-success addbutton" type="button"><i class="fa fa-upload"></i> <span class="bold">รับสินค้าเข้าระบบ</span></button></td>
                                    </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var tempBarcode = "";
        var tempQuantity = 0;

        $(function () {
            $("#form1").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 3
                    },
                    Description: {
                        required: true,
                        minlength: 3
                    },
                    Category: {
                        required: true
                    },
                    Barcode: {
                        required: true
                    },
                    AmountXS: {
                        required: true,
                        number: true
                    },
                    AmountS: {
                        required: true,
                        number: true
                    },
                    AmountM: {
                        required: true,
                        number: true
                    },
                    AmountL: {
                        required: true,
                        number: true
                    },
                    AmountXL: {
                        required: true,
                        number: true
                    },
                    AmountF: {
                        required: true,
                        number: true
                    },
                    Price: {
                        required: true,
                        number: true
                    },
                    Price2: {
                        required: true,
                        number: true
                    },
                    Price3: {
                        required: true,
                        number: true
                    },
                    PriceVIP: {
                        required: true,
                        number: true
                    },
                    Branch: {
                        required: true,
                        number: true,
                        maxlength: 1
                    },
                    SortID: {
                        required: true,
                        number: true,
                        maxlength: 3
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $('#example2 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<input class="column_filter" type="text" placeholder="ค้นตาม' + title + '" />');
                }
            });

            var table = $('#example2').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminAddProductTransaction", "Main")', {
                        "height": "30px",
                        "margin": "-15px",
                        "width": "80%",
                        "className": "form-control",
                        "select": true
                    });
                }
            });

            table.columns().every(function () {
                var that = this;

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });

            $('.addbutton').click(function () {
                var that = $(this);
                that.prop("disabled", true);
                var isEmptyList = true;
                var redirectTo;

                $.post('@Url.Action("AdminAddTransactions", "Main")', {}, function (result) {
                    $('.form-group').hide();
                    $('.row').hide();
                    $('#result-message-panel').show();
                    if (result = "success") {
                        $('.message-panel-success').show();
                    }
                    else {
                        $('.message-panel-fail').show();
                    }
                    that.prop("disabled", false);
                });
            });

        });

        function scanAddProduct(event) {
            event.preventDefault();
            var barcode = $('#scannedBarcodeText')[0].value;
            $.ajax({
                url: '@Url.Action("AddScannedProduct", "Main")',
                method: 'post',
                data: { code: barcode },
                success: function (data) {
                    if (data.id == "td_amount") {
                        alert("ไม่พบข้อมูลสินค้าที่ตรงกับ Barcode");
                    }
                    else {
                        var newValue = $('#' + data.id)[0].innerText = parseInt($('#' + data.id)[0].innerText) + 1;
                        $.post('@Url.Action("AdminAddProductTransaction", "Main")', {
                            id: data.id, value: newValue
                        }, function (result) {
                            $('#' + data.id)[0].innerText = result
                        });
                        //$('#' + data.id)[0].innerText = parseInt($('#' + data.id)[0].innerText) + 1;

                        if (tempBarcode == barcode) {
                            tempQuantity = tempQuantity + 1;
                        }
                        else {
                            tempBarcode = barcode;
                            tempQuantity = 1;
                        }
                        $('#messageAddScanProduct')[0].innerText = "เพิ่มสินค้า Barcode:" + tempBarcode + " จำนวนรวม:" + tempQuantity;
                    }
                },
                error: function () {
                    alert("ไม่พบข้อมูลสินค้าที่ตรงกับ Barcode");
                },
                async: true
            });
            $('#scannedBarcodeText')[0].value = "";
            return false;
        }

        function setSupplier(val) {
            $.post('@Url.Action("SetSupplier", "Main")', { id: val }, function (user) {
            });
        }

        function clearAddProduct() {
            $(".product-add-form").val("");
            $(".product-add-size").val("0");
        }

        function refreshPage() {
            window.location.reload();
        }

        function showFormDetail(val) {
            if (val == 0) {
                $(".add-product").hide();
            }
            else {
                $.post('@Url.Action("getCategorySizes", "Main")', { categoryID: val }, function (data) {
                    $(".add-product").show();

                    if (!data.xs) {
                        $(".size-xs").hide();
                    }
                    if (!data.s) {
                        $(".size-s").hide();
                    }
                    if (!data.m) {
                        $(".size-m").hide();
                    }
                    if (!data.l) {
                        $(".size-l").hide();
                    }
                    if (!data.xl) {
                        $(".size-xl").hide();
                    }
                    if (!data.xxl) {
                        $(".size-xxl").hide();
                    }
                });
            }

        }

    </script>
