﻿@model _TransactionList
@{
    ViewBag.Title = "Admin Transfer Product";
}
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        โอนถ่ายสินค้าระหว่างสาขา
                    </div>
                    <div class="panel-body">
                        <form id="form1" action="@Url.Action("AdminTransferTransactions", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">โอนไปยังสาขา:</label>
                                <div class="col-lg-1">@Html.DropDownList("ToBranchDDL", new SelectList(ViewBag.branchlist, "BranchID", "Name"), new { @class = "js-source-user", @onchange = "" })</div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary" type="submit">โอนสินค้า</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table id="example1" class="display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>รหัสสินค้า</td>
                                        <td>ชื่อสินค้า</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>หมวดหมู่</th>
                                        <th>รหัสสินค้า</th>
                                        <th>ชื่อสินค้า</th>
                                        <th>ภาพ</th>
                                        <th>XS</th>
                                        <th>XS รวม</th>
                                        <th>S</th>
                                        <th>S รวม</th>
                                        <th>M</th>
                                        <th>M รวม</th>
                                        <th>L</th>
                                        <th>L รวม</th>
                                        <th>XL</th>
                                        <th>XL รวม</th>
                                        <th>XXL</th>
                                        <th>XXL รวม</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.products)
                                        {
                                            <tr>
                                                <td class="" id="td_sortid_@item.ProductID">@Html.Action("GetProductSortID", "Main", new { pid = item.ProductID })</td>
                                                <td class="" id="td_categoryid_@item.ProductID">@Html.Action("GetCategoryName", "Main", new { id = item.CategoryID })</td>
                                                <td class="" id="td_name_@item.ProductID">@Html.DisplayFor(modelItem => item.Barcode)</td>
                                                <td class="" id="td_description_@item.ProductID">@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td class="" id="td_image_@item.ProductID"><img src="~/Main/DisplayImage?productId=@item.ProductID" height="100" /></td>
                                                <td class="editable_cell" id="td_amountxs_@item.ProductID">0</td>
                                                <td class="" id="td_amountxs_@item.ProductID"><strong><span class="text-info" id="remaining_xs_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "XS", productId = item.ProductID })</span></strong></td>
                                                <td class="editable_cell" id="td_amounts_@item.ProductID">0</td>
                                                <td class="" id="td_amounts_@item.ProductID"><strong><span class="text-info" id="remaining_s_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "S", productId = item.ProductID })</span></strong></td>
                                                <td class="editable_cell" id="td_amountm_@item.ProductID">0</td>
                                                <td class="" id="td_amountm_@item.ProductID"><strong><span class="text-info" id="remaining_m_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "M", productId = item.ProductID })</span></strong></td>
                                                <td class="editable_cell" id="td_amountl_@item.ProductID">0</td>
                                                <td class="" id="td_amountl_@item.ProductID"><strong><span class="text-info" id="remaining_l_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "L", productId = item.ProductID })</span></strong></td>
                                                <td class="editable_cell" id="td_amountxl_@item.ProductID">0</td>
                                                <td class="" id="td_amountxl_@item.ProductID"><strong><span class="text-info" id="remaining_xl_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "XL", productId = item.ProductID })</span></strong></td>
                                                <td class="editable_cell" id="td_amountf_@item.ProductID">0</td>
                                                <td class="" id="td_amountf_@item.ProductID"><strong><span class="text-info" id="remaining_f_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "XXL", productId = item.ProductID })</span></strong></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function isInt(value)
    {
            return !isNaN(value) &&
                   parseInt(Number(value)) == value &&
                   !isNaN(parseInt(value, 10));
    }

            function setOriginTransfer(val) {
            $.post('@Url.Action("SetOriginTransfer", "Main")', { id: val }, function (user) {
            });
        }

        $(function () {

            $('.toDeliverButton').click(function () {
                var ordernumber = $(this).attr("id");

                swal({
                    title: "ยืนยันพร้อมจัดส่ง",
                    text: "กรุณาใส่ค่าจัดส่ง",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "ค่าจัดส่ง"
                }, function (inputValue) {
                    if (inputValue === false || !isInt(inputValue) || inputValue === "") {
                        swal.showInputError("กรุณาใส่ค่าจัดส่งเป็นตัวเลข");
                        return false;
                    }

                    $.get('@Url.Action("AdminOrderUpdateStatus", "Main")', { orderNumber: ordernumber, status: 3, remark: inputValue }, function (data) {
                        window.location.reload(true);
                    });
                });
            });

            $('.cancelButton').click(function () {
                var ordernumber = $(this).attr("id");

                swal({
                    title: "คุณต้องการลบออเดอร์นี้หรือไม่?",
                    text: "กรุณาใส่เหตุผลที่ลบออเดอร์นี้ด้านล่าง",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "สาเหตุที่ลบ"
                }, function (inputValue) {
                    if (inputValue === false) {
                        return false;
                    }

                    if (inputValue === "") {
                        swal.showInputError("จำเป็นต้องมีเหตุผลในการลบ");
                        return false;
                    }

                    $.get('@Url.Action("AdminOrderUpdateStatus", "Main")', { orderNumber: ordernumber, status: 0, remark: inputValue }, function (data) {
                        window.location.reload(true);
                    });
                });
            });

            $('#example1 thead td').each(function () {
                var title = $(this).text();
                if (title.length > 0) {
                    $(this).html('<input class="column_filter" type="text" style="width:100%;" placeholder="ค้นตาม' + title + '" />');
                }
            });

            var table = $('#example1').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminTransferProductTransaction", "Main")', {
                        "height": "30px",
                        "margin": "-15px",
                        "width": "90%",
                        "className": "form-control",
                        "select": true
                    });
                }
            });

            table.columns().every(function () {
                var that = this;

                $('.column_filter', this.footer()).on('keyup change', function () {
                    table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
            });
        });

</script>


