﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "Change Password";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Change Password</h3>
                <small>กรุณาใส่รหัสผ่านใหม่</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <p>
                        ใส่รหัสผ่านสองครั้งเพื่อยืนยันการเปลี่ยนรหัสผ่าน
                    </p>
                    <form method="post" action="@Url.Action("ChangePassword", "Main")" id="changePasswordForm">
                        <div class="form-group">
                            <label class="control-label" for="password">รหัสผ่านใหม่</label>
                            <input type="password" placeholder="รหัสผ่านใหม่" title="กรุณาใส่รหัสผ่านใหม่" required="" value="" name="password" id="password" class="form-control">
                            <label class="control-label" for="confirm">ยืนยันรหัสผ่านใหม่</label>
                            <input type="password" placeholder="ยืนยันรหัสผ่านใหม่" title="กรุณาใส่รหัสผ่านใหม่อีกครั้ง" required="" value="" name="confirm" id="confirm" class="form-control">
                            <div class="form-group-sm" id="loginMsg">
                                <p class="text-danger">@Session["ChangePasswordMessage"]</p>
                            </div>
                        </div>

                        <button class="btn btn-success btn-block">เปลี่ยนพาสเวิร์ด</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>7th Street Brand</strong> - All Right Reserved
            <br />
            2016 Copyright
        </div>
    </div>
</div>
