﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>7TH STREET</h3>
                <small>Awesome in the making</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form method="post" action="@Url.Action("Login", "Main")" id="loginForm">
                        <div class="form-group">
                            <label class="control-label" for="username">ชื่อผู้ใช้</label>
                            <input type="text" placeholder="" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">รหัสผ่าน</label>
                            <input type="password" title="Please enter your password" placeholder="" required="" value="" name="password" id="password" class="form-control">
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" class="i-checks" checked>
                            จดจำผู้ใช้
                        </div>
                        <div class="form-group-sm" id="loginMsg">
                            <p class="text-danger">@Session["LoginMessage"]</p>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                        <a class="btn btn-default btn-block" href="@Url.Action("Register", "Main")">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>7th Street Brand</strong> - All Right Reserved <br /> 2016 Copyright
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

    });
</script>