﻿@model List<MySeventhStreet.Models._MinimumStock>
@{
    ViewBag.Title = "Minimum Stock Setting";
}

<div class="content animate-panel">
    @if (null != ViewBag.excelError)
    {
        <script type="text/javascript">
       alert('@ViewBag.excelError');
        </script>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    Download/Upload file
                </div>
                <div class="panel-body">
                    <form id="form1" action="@Url.Action("DownloadStockSetting", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-xs-1 ">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-download">
                                    </i> Download การตั้งค่า
                                </button>
                            </div>
                        </div>
                    </form>
                    <form id="form2" action="@Url.Action("UploadMinimumStockSetting", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-xs-1 ">
                                <button class="btn btn-primary " type="button" onclick="$('#fileSettingUpload').click()">
                                    <i class="fa fa-upload">
                                    </i>
                                    <span class="bold">Upload การตั้งค่า</span>
                                </button>
                                <input type="file" id="fileSettingUpload" name="file" class="form-control" accept=".xlsx" onchange="this.form.submit();" style="position:absolute;top:-10000000px;" />
                            </div>
                        </div>
                    </form>
                    <form id="form3" action="@Url.Action("DownloadCalculatedStockReport", "Main")" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-xs-1 ">
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-download">
                                    </i> Download รายการสั่งซื้อ
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        ตั้งค่า Minimum Stock
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>สาขา</th>
                                            <th>รหัสบาร์โค้ด</th>
                                            <th>หมวดหมู่</th>
                                            <th>ชื่อสินค้า</th>
                                            <th>XS</th>
                                            <th>S</th>
                                            <th>M</th>
                                            <th>L</th>
                                            <th>XL</th>
                                            <th>XXL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="col-xs-1" id="td_branchname_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.Branch.Name)</td>
                                                    <td class="col-xs-1" id="td_barcode_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.Product.Barcode)</td>
                                                    <td class="col-xs-1" id="td_category_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                                    <td class="col-xs-1" id="td_productname_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.Product.Name)</td>
                                                    <td class="col-xs-1 editable_cell" id="td_xs_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.StockSetting.MinXS)</td>
                                                    <td class="col-xs-1 editable_cell" id="td_s_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.StockSetting.MinS)</td>
                                                    <td class="col-xs-1 editable_cell" id="td_m_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.StockSetting.MinM)</td>
                                                    <td class="col-xs-1 editable_cell" id="td_l_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.StockSetting.MinL)</td>
                                                    <td class="col-xs-1 editable_cell" id="td_xl_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.StockSetting.MinXL)</td>
                                                    <td class="col-xs-1 editable_cell" id="td_xxl_@item.Branch.BranchID+@item.Product.ProductID">@Html.DisplayFor(modelItem => item.StockSetting.MinXXL)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function isInt(value) {
        return !isNaN(value) &&
            parseInt(Number(value)) == value &&
            !isNaN(parseInt(value, 10));
    }

    $(function () {
        $('#datepicker').datepicker();
        $("#datepicker").on("changeDate", function (event) {
            $("#my_hidden_input").val(
                $("#datepicker").datepicker('getFormattedDate')
            )
        });

        $('#example2 thead td').each(function () {
            var title = $(this).text();
            if (title.length > 0) {
                $(this).html('<input class="column_filter" type="text" placeholder="ค้นตาม' + title + '" />');
            }
        });

        var table = $('#example2').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "dom": 'Blfrtip',
            buttons: [
                { extend: 'copy', className: 'btn-sm' },
                { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                { extend: 'print', className: 'btn-sm' }
            ],
            "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("AdminMinimumStockUpdate", "Main")', {
                        "height": "30px",
                        "margin": "-15px",
                        "width": "70%",
                        "className": "form-control",
                        "select": true
                    });
            },
            "deferRender": true
        });

        table.columns().every(function () {
            var that = this;

            $('.column_filter', this.footer()).on('keyup change', function () {
                table
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
        });

    });

</script>
