﻿@model List<MySeventhStreet.Models._OrderStatus>
    @{
        ViewBag.Title = "Order Status";

    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            รายการสถานะจัดส่ง
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>ชื่อผู้รับ</th>
                                            <th>สถานะจัดส่ง</th>
                                            <th>วันที่สั่งซื้อ</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="col-xs-2" id="td_ordernumber_@item.OrderNumber">@Html.ActionLink(item.OrderNumber, "OrderDetail", new { orderNumber = item.OrderNumber })</td>
                                                    <td class="col-xs-2" id="td_name_@item.OrderNumber">@Html.DisplayFor(modelItem => item.DeliveryName)</td>
                                                    @switch (item.Status)
                                                    {
                                                        case 1:
                                                            <td class="col-xs-2" id="td_status_@item.OrderNumber">
                                                                <div class="progress m-t-xs full progress-striped active">
                                                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning">
                                                                        รอยืนยันสินค้า
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            break;
                                                        case 2:
                                                            <td class="col-xs-2" id="td_status_@item.OrderNumber">
                                                                <div class="progress m-t-xs full progress-striped active">
                                                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning">
                                                                        รอจัดสินค้า
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            break;
                                                        case 3:
                                                            <td class="col-xs-2" id="td_status_@item.OrderNumber">
                                                                <div class="progress m-t-xs full progress-striped active">
                                                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-info">
                                                                        จัดสินค้าแล้วรอส่ง
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            break;
                                                        case 4:
                                                            <td class="col-xs-2" id="td_status_@item.OrderNumber">
                                                                <div class="progress m-t-xs full progress-striped active">
                                                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-success">
                                                                        ส่งสินค้าแล้ว
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            break;
                                                        case 0:
                                                            <td class="col-xs-2" id="td_status_@item.OrderNumber">
                                                                <div class="progress m-t-xs full progress-striped active">
                                                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-danger">
                                                                        ยกเลิก
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            break;
                                                    }
                                                    <td class="col-xs-4" id="td_orderdate_@item.OrderNumber">@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                                    <td class="col-xs-2"><button id="@item.OrderNumber" class="btn btn-info detailbutton" type="button"><i class="fa fa-paste"></i> รายละเอียด</button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(function() {

            $('#example2').dataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function() {
                }
            });

            $('.detailbutton').click(function() {
                var ordernumber = $(this).attr("id");

                $.post('@Url.Action("OrderDetailRow", "Main")', { orderNumber: ordernumber }, function (data) {
                    window.location.href = data;

                });
            });

        });

    </script>
