﻿@using MySeventhStreet.Models
@model List<MySeventhStreet.Models.Product>

    @{
        ViewBag.Title = "OrderProduct";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            สั่งของ
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example2" class="display table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hidden"></th>
                                            <th class="hidden"></th>
                                            <th>รูปภาพ</th>
                                            <th>รหัสสินค้า</th>
                                            <th>หมวดหมู่</th>
                                            <th>ชื่อสินค้า</th>
                                            @if (int.Parse(Session["UserType"].ToString()) == 2)
                                            {
                                                <th>ราคาต่อหน่วย</th>
                                            }
                                            else
                                            {
                                                <th>ราคาต่อหน่วย</th>
                                            }
                                            <th>XS</th>
                                            <th>S</th>
                                            <th>M</th>
                                            <th>L</th>
                                            <th>XL</th>
                                            <th>XXL</th>
                                            <th><button id="pickupbutton_top" class="btn btn-success pickupbutton" type="button"><i class="fa fa-upload"></i> <span class="bold">ใส่ตะกร้า</span></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="hidden">@Html.Action("GetProductAndCategorySortID", "Main", new { pid = item.ProductID })</td>
                                                <td class="hidden">@item.ProductID</td>
                                                <td class="col-xs-1" id="td_image_@item.ProductID"><img src="~/Main/DisplayImage?productId=@item.ProductID" height="100" /></td>
                                                <td class="col-xs-1" id="td_name_@item.ProductID">@Html.DisplayFor(modelItem => item.Barcode)</td>
                                                <td class="col-xs-1" id="td_category_@item.ProductID">@Html.Action("GetCategoryName", "Main", new { id = item.CategoryID })</td>
                                                <td class="col-xs-1" id="td_description_@item.ProductID">@Html.DisplayFor(modelItem => item.Name)</td>
                                                @if (Session["UserType"] == null || int.Parse(Session["UserType"].ToString()) == 2)
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price)</td>
                                                }
                                                else if (int.Parse(Session["UserType"].ToString()) == 3 || Session["UserType"].ToString() == "4")
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price3)</td>
                                                }
                                                else if (int.Parse(Session["UserType"].ToString()) == 5)
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.Price4)</td>
                                                }
                                                else if (int.Parse(Session["UserType"].ToString()) == 6)
                                                {
                                                    <td class="col-xs-1" id="td_price_@item.ProductID">@Html.DisplayFor(modelItem => item.PriceVIP)</td>
                                                }
                                                <td class="col-xs-1" id="td_amountxs_@item.ProductID"><input id="amountxs_@item.ProductID" type="text" class="form-control input-xs"><span class="hidden" id="remaining_xs_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "XS", productId = item.ProductID })</span></td>
                                                <td class="col-xs-1" id="td_amounts_@item.ProductID"><input id="amounts_@item.ProductID" type="text" class="form-control input-xs"><span class="hidden" id="remaining_s_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "S", productId = item.ProductID })</span></td>
                                                <td class="col-xs-1" id="td_amountm_@item.ProductID"><input id="amountm_@item.ProductID" type="text" class="form-control input-xs"><span class="hidden" id="remaining_m_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "M", productId = item.ProductID })</span></td>
                                                <td class="col-xs-1" id="td_amountl_@item.ProductID"><input id="amountl_@item.ProductID" type="text" class="form-control input-xs"><span class="hidden" id="remaining_l_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "L", productId = item.ProductID })</span></td>
                                                <td class="col-xs-1" id="td_amountxl_@item.ProductID"><input id="amountxl_@item.ProductID" type="text" class="form-control input-xs"><span class="hidden" id="remaining_xl_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "XL", productId = item.ProductID })</span></td>
                                                <td class="col-xs-1" id="td_amountf_@item.ProductID"><input id="amountf_@item.ProductID" type="text" class="form-control input-xs"><span class="hidden" id="remaining_xxl_@item.ProductID">@Html.Action("CalculateRemainingStock", "Main", new { size = "XXL", productId = item.ProductID })</span></td>
                                                <td class="col-xs-1"><div class="text-danger" id="error_text_@item.ProductID"></div></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button id="pickupbutton_bottom" class="btn btn-success pickupbutton" type="button"><i class="fa fa-upload"></i> <span class="bold">ใส่ตะกร้า</span></button></td></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Session["ShoppingCart"] != null)
                    {
                        var shopItems = Session["ShoppingCart"] as List<MySeventhStreet.Models.Product>;
                        if (shopItems != null && shopItems.Count > 0)
                        {
                            <div class="hpanel col-lg-8 shopping-cart-panel">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    ตะกร้าสินค้า
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="example2" class="display table table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>ชื่อสินค้า</th>
                                                    <th>XS</th>
                                                    <th>S</th>
                                                    <th>M</th>
                                                    <th>L</th>
                                                    <th>XL</th>
                                                    <th>XXL</th>
                                                    <th>จำนวนรวม</th>
                                                    <th>ราคาต่อหน่วย</th>
                                                    <th>ราคารวม</th>
                                                    <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var totalPrice = 0;
                                                    foreach (var item in shopItems)
                                                    {
                                                        var totalAmount = item.AmountXS + item.AmountS + item.AmountM + item.AmountL + item.AmountXL + item.AmountF;
                                                        var eachPrice = item.Price / totalAmount;
                                                        totalPrice += item.Price.Value;
                                                        <tr>
                                                            <td id="sc_name_@item.ProductID">@item.Name</td>
                                                            <td class="col-xs-1" id="sc_amountxs_@item.ProductID">@item.AmountXS</td>
                                                            <td class="col-xs-1" id="sc_amounts_@item.ProductID">@item.AmountS</td>
                                                            <td class="col-xs-1" id="sc_amountm_@item.ProductID">@item.AmountM</td>
                                                            <td class="col-xs-1" id="sc_amountl_@item.ProductID">@item.AmountL</td>
                                                            <td class="col-xs-1" id="sc_amountxl_@item.ProductID">@item.AmountXL</td>
                                                            <td class="col-xs-1" id="sc_amountf_@item.ProductID">@item.AmountF</td>
                                                            <td class="col-xs-1" id="sc_totalamount_@item.ProductID">@totalAmount</td>
                                                            <td class="col-xs-1" id="sc_eachprice_@item.ProductID">@eachPrice</td>
                                                            <td class="col-xs-1" id="sc_price_@item.ProductID">@item.Price</td>
                                                            <td class="col-xs-1"><button id="deletecartbutton_@item.ProductID" class="btn btn-danger deletebutton" type="button"><i class="fa fa-trash-o"></i> <span class="bold">ลบ</span></button></td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td class="col-xs-1">ราคารวมทั้งหมด</td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1"></td>
                                                    <td class="col-xs-1">@totalPrice</td>
                                                    <td class="col-xs-1"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        @{
                                            var firstItem = shopItems.FirstOrDefault();
                                            if (firstItem != null)
                                            {
                                                <input type="hidden" id="hiddenCategoryID" value="@firstItem.CategoryID" />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="hpanel col-lg-4 shopping-cart-panel">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    ที่อยู่จัดส่ง
                                </div>
                                <div class="panel-body">
                                    <form id="order-form" method="post" action="@Url.Action("SubmitShoppingCart","Main")">
                                        <div class="form-group">
                                            <label class="col-lg-12 control-label">ชื่อผู้รับ</label>
                                            @if (int.Parse(Session["UserType"].ToString()) == 3)
                                            {
                                                <div class="col-lg-12">
                                                    <input id="deliveryName" type="text" name="DeliveryName" class="form-control required" value="@Session["ShopName"].ToString()" readonly="readonly">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-12">
                                                    <input id="deliveryName" type="text" name="DeliveryName" class="form-control required">
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-12 control-label">เบอร์โทรศัพท์</label>
                                            @if (int.Parse(Session["UserType"].ToString()) == 3)
                                            {
                                                <div class="col-lg-12">
                                                    <input id="phone" type="text" name="Phone" class="form-control required" value="@Session["Phone"].ToString()" readonly="readonly">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-12">
                                                    <input id="phone" type="text" name="Phone" class="form-control required">
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-12 control-label">ที่อยู่</label>
                                            @if (int.Parse(Session["UserType"].ToString()) == 3)
                                            {
                                                <div class="col-lg-12"><textarea id="deliveryAddress" name="DeliveryAddress" class="form-control required" rows="5" style="resize:none; margin-bottom:20px;" readonly="readonly">@Session["Address"].ToString()</textarea></div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-12"><textarea id="deliveryAddress" name="DeliveryAddress" class="form-control required" rows="5" style="resize:none; margin-bottom:20px;"></textarea></div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-8 col-xs-offset-2">
                                                @if (Session["ShoppingCart"] != null)
                                                {
                                                    <button type="submit" class="btn w-xs btn-primary submitorderbutton">สั่งของ</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn w-xs btn-primary submitorderbutton" disabled="disabled">สั่งของ</button>
                                                }

                                                <button type="button" class="btn w-xs btn-default clearcartbutton">เคลียร์ตะกร้า</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                                                }
                                            }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(function () {

            var table = $('#example2').DataTable({
                "columnDefs": [
                    {
                        "targets": 1,
                        "orderable": false
                    },
                    {
                        "targets": 2,
                        "orderable": false
                    },
                    {
                        "targets": 6,
                        "orderable": false
                    },
                    {
                        "targets": 7,
                        "orderable": false
                    },
                    {
                        "targets": 8,
                        "orderable": false
                    },
                    {
                        "targets": 9,
                        "orderable": false
                    },
                    {
                        "targets": 10,
                        "orderable": false
                    },
                    {
                        "targets": 11,
                        "orderable": false
                    },
                    {
                        "targets": 12,
                        "orderable": false
                    },
                    {
                        "targets": 13,
                        "orderable": false
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": 'Blfrtip',
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExportedData', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "fnDrawCallback": function () {
                    $('.editable_cell').editable('@Url.Action("OrderProduct", "Main")', {
                        "height": "auto",
                        "margin": "-2px",
                        "width": "80%"
                    });
                }
            });

            $("#order-form").validate(
                {
                    rules: {
                        DeliveryName: {
                            required: true,
                            minlength: 3
                        },
                        Phone: {
                            required: true,
                            number: true,
                            minlength: 8
                        },
                        DeliveryAddress: {
                            required: true,
                            minlength: 3
                        }
                    },
                    submitHandler: function (form) {
                        if ($("#order-form").valid()) {
                            $(this).attr("disabled", true);
                        }
                        form.submit();
                    }
                });

            $('.pickupbutton').click(function () {
                var that = $(this);
                that.prop("disabled", true);
                var isEmptyList = true;
                var redirectTo;

                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var productid = this.data()[1];

                    var amountXS = parseInt($("#amountxs_" + productid)[0].value, 10) || 0;
                    var amountS = parseInt($("#amounts_" + productid)[0].value, 10) || 0;
                    var amountM = parseInt($("#amountm_" + productid)[0].value, 10) || 0;
                    var amountL = parseInt($("#amountl_" + productid)[0].value, 10) || 0;
                    var amountXL = parseInt($("#amountxl_" + productid)[0].value, 10) || 0;
                    var amountF = parseInt($("#amountf_" + productid)[0].value, 10) || 0;
                    var remainingXS = parseInt($("#remaining_xs_" + productid)[0].innerText, 10) || 0;
                    var remainingS = parseInt($("#remaining_s_" + productid)[0].innerText, 10) || 0;
                    var remainingM = parseInt($("#remaining_m_" + productid)[0].innerText, 10) || 0;
                    var remainingL = parseInt($("#remaining_l_" + productid)[0].innerText, 10) || 0;
                    var remainingXL = parseInt($("#remaining_xl_" + productid)[0].innerText, 10) || 0;
                    var remainingXXL = parseInt($("#remaining_xxl_" + productid)[0].innerText, 10) || 0;

                    if (!isNaN(amountXS + amountS + amountM + amountL + amountXL + amountF) && (amountXS + amountS + amountM + amountL + amountXL + amountF) > 0) {
                        if (amountXS > remainingXS || amountS > remainingS || amountM > remainingM || amountL > remainingL || amountXL > remainingXL || amountF > remainingXXL) {
                            $.ajax({
                                url: '@Url.Action("AddShoppingCart", "Main")',
                                method: 'post',
                                data: { id: productid, AmountXS: amountXS, AmountS: amountS, AmountM: amountM, AmountL: amountL, AmountXL: amountXL, AmountF: amountF, Branch: 1 },
                                success: function (data) {
                                    isEmptyList = false;
                                    redirectTo = data;
                                },
                                async: false
                            });
                        }
                    }
                    else
                    {
                        //$("#error_text_" + productid)[0].innerText = "จำนวนที่สั่งไม่ถูกต้อง";

                    }

                    that.prop("disabled", false);
                    return false;
                });

                if (!isEmptyList) {
                    window.location.href = redirectTo;
                }

                @*var tokenid = productid.split("_");

                var amountS = parseInt($("#amounts_" + tokenid[1])[0].value, 10) || 0;
                var amountM = parseInt($("#amountm_" + tokenid[1])[0].value, 10) || 0;
                var amountL = parseInt($("#amountl_" + tokenid[1])[0].value, 10) || 0;
                var amountXL = parseInt($("#amountxl_" + tokenid[1])[0].value, 10) || 0;
                var amountF = parseInt($("#amountf_" + tokenid[1])[0].value, 10) || 0;
                var remainingS = parseInt($("#remaining_s_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingM = parseInt($("#remaining_m_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingL = parseInt($("#remaining_l_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingXL = parseInt($("#remaining_xl_" + tokenid[1])[0].innerText, 10) || 0;
                var remainingXXL = parseInt($("#remaining_xxl_" + tokenid[1])[0].innerText, 10) || 0;

                if (isNaN(amountS + amountM + amountL + amountXL + amountF) || (amountS + amountM + amountL + amountXL + amountF) < 1) {
                    $("#error_text_" + tokenid[1])[0].innerText = "จำนวนที่สั่งไม่ถูกต้อง";
                    $(this).attr("disabled", false);
                    return false;
                }
                else if (amountS > remainingS || amountM > remainingM || amountL > remainingL || amountXL > remainingXL || amountF > remainingXXL) {
                    $("#error_text_" + tokenid[1])[0].innerText = "จำนวนเกินสต็อค";
                    $(this).attr("disabled", false);
                    return false;
                } else {
                    $("#error_text_" + tokenid[1])[0].innerText = "";
                }

                $.post('@Url.Action("AddShoppingCart","Main")', { id: productid, AmountS: amountS, AmountM: amountM, AmountL: amountL, AmountXL: amountXL, AmountF: amountF, Branch: 1 }, function (data) {
                    window.location.href = data;
                });*@
            });

            $('.deletebutton').click(function () {
                $(this).attr("disabled", true);
                var categoryid = $(this).attr("id");

                $.post('@Url.Action("DeleteShoppingCart","Main")', { id: categoryid }, function (data) {
                    //otable.fnDraw();
                    window.location.href = data;
                });
            });

            @*$('.submitorderbutton').click(function () {



                if (form.valid()) {
                        var categoryid = $("#hiddenCategoryID").attr("value");
                        var deliveryName = $("#deliveryName")[0].value;
                        var phone = $("#phone")[0].value;
                        var deliveryAddress = $("#deliveryAddress")[0].value;

                        $.post('@Url.Action("SubmitShoppingCart","Main")', { deliveryName: deliveryName, deliveryAddress: deliveryAddress, phone: phone }, function (data) {
                            window.location.href = data;
                        });
                    }

            });*@

            $('.clearcartbutton').click(function () {
                var categoryid = $(this).attr("id");

                $.post('@Url.Action("ClearShoppingCart","Main")', {}, function (data) {
                    window.location.href = data;
                });
            });
        });

    </script>

