﻿@model MySeventhStreet.ViewModels._OrderDetail
@{
    ViewBag.Title = "title";
}

<div class="content animate-panel">
    @if (Session["OrderCompleted"] != null)
    {
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <p>
                        ได้รับคำสั่งซื้อแล้ว กรุณารอการตรวจสอบ ท่านสามารถเช็คสถานะการดำเนินการได้ที่หน้า สถานะสั่งซื้อ
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="hpanel col-lg-12">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            รายละเอียดการสั่งซื้อ
        </div>
        <div class="panel-body">
            <button class="btn btn-info btn-xs pull-right printbutton" type="button"><i class="fa fa-print"></i></button>
            <div class="table-condensed" id="printarea">
                <form id="form1" action="@Url.Action("CreateUser", "Main")" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">ชื่อผู้สั่ง</label>
                        <div class="col-xs-5">@Model.DeliveryName</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">ที่อยู่</label>
                        <div class="col-xs-5">@Model.DeliveryAddress</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">หมายเลขคำสั่งซื้อ</label>
                        <div class="col-xs-5">@Model.OrderNumber</div>
                    </div>
                </form>
                <table id="example2" class="display table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>ชื่อสินค้า</th>
                            <th>XS</th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>XXL</th>
                            <th>จำนวนรวม</th>
                            <th>ราคาต่อหน่วย</th>
                            <th>ราคารวม</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var totalPrice = 0;
                            foreach (var item in Model.Products)
                            {
                                var totalAmount = item.AmountXS + item.AmountS + item.AmountM + item.AmountL + item.AmountXL + item.AmountF;
                                var eachPrice = item.Price / totalAmount;
                                totalPrice += item.Price ?? 0;

                                //if (Model.UserType == 2)
                                //{
                                //    eachPrice = item.Price.Value / totalAmount.Value;
                                //    totalPrice += item.Price ?? 0;
                                //}
                                //else
                                //{
                                //    if (totalAmount >= 50)
                                //    {
                                //        eachPrice = item.Price3.Value / totalAmount.Value;
                                //        totalPrice += item.Price3 ?? 0;
                                //    }
                                //    else
                                //    {
                                //        eachPrice = item.Price2.Value / totalAmount.Value;
                                //        totalPrice += item.Price2 ?? 0;
                                //    }
                                //}
                                <tr>
                                    <td class="hidden">@Html.Action("GetProductAndCategorySortID", "Main", new { pid = item.ProductID })</td>
                                    <td class="col-xs-2" id="sc_name_@item.CategoryID">@item.Name (@item.Barcode)</td>
                                    <td class="col-xs-1" id="sc_amounts_@item.CategoryID">@item.AmountXS</td>
                                    <td class="col-xs-1" id="sc_amounts_@item.CategoryID">@item.AmountS</td>
                                    <td class="col-xs-1" id="sc_amountm_@item.CategoryID">@item.AmountM</td>
                                    <td class="col-xs-1" id="sc_amountl_@item.CategoryID">@item.AmountL</td>
                                    <td class="col-xs-1" id="sc_amountxl_@item.CategoryID">@item.AmountXL</td>
                                    <td class="col-xs-1" id="sc_amountf_@item.CategoryID">@item.AmountF</td>
                                    <td class="col-xs-1" id="sc_totalamount_@item.CategoryID">@totalAmount</td>
                                    <td class="col-xs-1" id="sc_eachprice_@item.CategoryID">@eachPrice</td>
                                    <td class="col-xs-1" id="sc_price_@item.CategoryID">@item.Price</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="col-xs-2"><strong>ส่วนลด</strong></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1" id="sc_discount_0_@Model.OrderNumber">@Model.Discount</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2"><strong>ค่าส่ง</strong></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1" id="sc_shipping_0_@Model.OrderNumber">@Model.Shipping</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2"><strong>ราคารวม</strong></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1"><strong>@(totalPrice - Model.Discount + Model.Shipping)</strong></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    $(function () {
        $(".printbutton").click(function () {
            $.print("#printarea");
        });
    });
</script>
