﻿
@{
    ViewBag.Title = "RegisterComplete";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>สมัครสมาชิกเสร็จเรียบร้อยแล้ว</h1>
    <strong>กรุณารอการยืนยัน</strong>
    <p>
        เราจะติดต่อกลับทางโทรศัพท์หรือ Line ที่ท่านได้สมัครไว้ เมื่อเราทำการยืนยันการสมัครของท่าน อาจะใช้เวลาประมาณ 1-2 วันทำการ
    </p>
    <a href="@Url.Action("Index", "Main")" class="btn btn-xs btn-success">กลับไปหน้าแรก</a>
</div>

