﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "Register";
}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>สมัครเป็นตัวแทนขาย</h3>
                <small>กรุณากรอกข้อมูลให้ครบถ้วน และหลังจากสมัครแล้วกรุณารอการตอบรับอนุมัติจากเจ้าหน้าที่ก่อน </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form method="post" action="@Url.Action("DoRegister", "Main")" id="registerForm">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="col-lg-4 radio radio-success radio-inline">
                                    <input type="radio" id="inlineRadio1" value="dropship" name="radioInline">
                                    <label for="inlineRadio1"><strong> สมัคร Online (ไม่สต็อค) </strong></label>
                                </div>
                                <div class="col-lg-4 radio radio-success radio-inline">
                                    <input type="radio" id="inlineRadio2" value="wholesale1" name="radioInline">
                                    <label for="inlineRadio2"><strong> สมัคร Online (มีสต็อค) </strong></label>
                                </div>
                                <div class="col-lg-3 radio radio-success radio-inline">
                                    <input type="radio" id="inlineRadio3" value="wholesale2" name="radioInline" checked="">
                                    <label for="inlineRadio3"><strong> สมัครขายหน้าร้าน </strong></label>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>ชื่อ-นามสกุล</label>
                                <input type="text" value="" id="" class="form-control" name="UserName">
                            </div>
                            <div class="form-group col-lg-12 forWholesale">
                                <label>ชื่อร้าน</label>
                                <input type="text" value="" id="" class="form-control" name="ShopName">
                            </div>
                            <div class="form-group col-lg-12 forDropship">
                                <label>สถานที่ขาย/Website</label>
                                <input type="text" value="" id="" class="form-control" name="Website">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Line ID</label>
                                <input type="text" value="" id="" class="form-control" name="LineID">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>เบอร์โทรศัพท์</label>
                                <input type="text" value="" id="" class="form-control" name="Phone">
                            </div>
                            <div class="form-group col-lg-6 forWholesale">
                                <label>จังหวัด</label>
                                @Html.DropDownList("Province", new SelectList(ViewBag.ProvinceList, "ProvinceID", "Name"), new { @class = "form-control m-b", @onchange = "poppulateCity(this.value);" })
                            </div>
                            <div class="form-group col-lg-6 forWholesale">
                                <label>อำเภอ</label>
                                @Html.DropDownList("CityList", null, new { @class = "form-control m-b", @name = "City" })
                            </div>
                            <div class="form-group col-lg-12 forWholesale">
                                <label>ที่อยู่จัดส่งโดยละเอียด</label>
                                <input type="text" value="" id="" class="form-control" name="Address">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>E-mail</label>
                                <input type="text" value="" id="" class="form-control" name="Email">
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success">Register</button>
                            <button class="btn btn-default" id="cancelRegister">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>7th STREET BRAND</strong> - User registration process <br /> 2016 Copyright
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#cancelRegister').click(function (e) {
            e.preventDefault();
            window.location.href = "/Main/Login";
        });

        $("#registerForm").validate({
            rules: {
                UserName: {
                    required: true,
                    minlength: 4
                },
                ShopName: {
                    required: true,
                    minlength: 4
                },
                Website: {
                    required: true,
                    minlength: 4
                },
                Province: {
                },
                City: {
                    required: true,
                    minlength: 4
                },
                Address: {
                    required: true,
                    minlength: 4
                },
                Email: {
                    email: true
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        $('input[type=radio][name=radioInline]').change(function () {
            if (this.value == 'dropship') {
                $('.forWholesale').hide();
                $('.forDropship').show();
                $('.forWholesale').each(function( i ) {
                    $(this).find(".form-control").rules("remove");
                });
                $("#registerForm").validate({
                    rules: {
                        UserName: {
                            required: true,
                            minlength: 4
                        },
                        ShopName: {
                            required: true,
                            minlength: 0
                        },
                        Website: {
                            required: true,
                            minlength: 4
                        },
                        Province: {
                            required: true,
                            minlength: 0
                        },
                        City: {
                            required: true,
                            minlength: 0
                        },
                        Address: {
                            required: true,
                            minlength: 0
                        },
                        Email: {
                            email: true
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            }
            else if (this.value == 'wholesale1') {
                $('.forWholesale').show();
                $('.forDropship').show();
                $("#registerForm").rules("remove");
                $("#registerForm").validate({
                    rules: {
                        UserName: {
                            required: true,
                            minlength: 4
                        },
                        ShopName: {
                            required: true,
                            minlength: 4
                        },
                        Website: {
                            required: true,
                            minlength: 4
                        },
                        Province: {
                            required: true,
                            minlength: 4
                        },
                        City: {
                            required: true,
                            minlength: 4
                        },
                        Address: {
                            required: true,
                            minlength: 4
                        },
                        Email: {
                            email: true
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            }
            else if (this.value == 'wholesale2') {
                $('.forWholesale').show();
                $('.forDropship').hide();
                $('.forDropship').each(function (i) {
                    $(this).find(".form-control").rules("remove");
                });
                $("#registerForm").validate({
                    rules: {
                        UserName: {
                            required: true,
                            minlength: 4
                        },
                        ShopName: {
                            required: true,
                            minlength: 4
                        },
                        Website: {
                            required: false
                        },
                        Province: {
                            require: false,
                            minlength: 0
                        },
                        City: {
                            required: true,
                            minlength: 4
                        },
                        Address: {
                            required: true,
                            minlength: 4
                        },
                        Email: {
                            required: true,
                            email: true
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            }
        });
    });

    function poppulateCity(val) {
        $.post('@Url.Action("GetListCity","Main")', { provinceId: val }, function (data) {
            var markup;
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
            }
            $("#CityList").html(markup);
        });
    }
</script>
